@charset "UTF-8";
/* line 6, ../sass/_mixin.scss */
.example-class {
  color: white;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited {
  outline: none;
}

/* line 16, ../sass/_pages.scss */
.slider .slider_item_card_info a, .catalog .catalog_link, .service_block_item .service_link {
  border: 1px solid #005ed5;
  border-radius: 50px;
  background-color: #005ed5;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 0;
}

/* line 29, ../sass/_pages.scss */
.navigation {
  background-color: #ebf3f8;
}
/* line 31, ../sass/_pages.scss */
.navigation_row {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 36, ../sass/_pages.scss */
.navigation_row .nav li {
  font-size: 16px;
  margin-right: 30px;
  height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid transparent;
}
/* line 43, ../sass/_pages.scss */
.navigation_row .nav li a {
  padding: 0 10px;
  color: #122034;
  text-decoration: none;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  display: inline-block;
}
/* line 52, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) a:hover {
  color: #122034;
  text-decoration: none;
  transform: scale(1.1);
}
/* line 57, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) :hover {
  border-bottom: 3px solid #005ed5;
}
/* line 60, ../sass/_pages.scss */
.navigation_row .account {
  text-decoration: none;
}
/* line 62, ../sass/_pages.scss */
.navigation_row .account:hover {
  text-decoration: none;
}

/* line 70, ../sass/_pages.scss */
.header_contacts {
  padding: 55px 0 25px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 77, ../sass/_pages.scss */
.header_contacts_item_links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 83, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
}
/* line 90, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list:before {
  content: "";
  background-image: url(../img/header_phone.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: calc(50% - 9px);
}
/* line 99, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li {
  position: relative;
  padding-right: 11px;
  margin-left: 10px;
}
/* line 104, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:last-child::after {
  display: none;
}
/* line 108, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  background-color: #000000;
}
/* line 120, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a {
  display: inline-block;
  font-size: 16px;
  color: #000000;
}
/* line 124, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 128, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a span {
  font-weight: bold;
  font-size: large;
}
/* line 134, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup {
  margin-left: 30px;
}
/* line 136, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list {
  margin-bottom: 0;
  padding-left: 35px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 144, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list:before {
  content: "";
  background-image: url(../img/header_mail.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: calc(50% - 8px);
}
/* line 153, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a {
  font-size: 18px;
  color: #122034;
  display: block;
}
/* line 157, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 165, ../sass/_pages.scss */
.header_contacts_item_adress {
  font-size: 13px;
  color: rgba(18, 32, 52, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 172, ../sass/_pages.scss */
.header_contacts_item_adress-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: 0px;
}
/* line 181, ../sass/_pages.scss */
.header_contacts_item_adress-list li {
  margin-left: 20px;
  padding-left: 24px;
  position: relative;
  display: block;
}
/* line 186, ../sass/_pages.scss */
.header_contacts_item_adress-list li:before {
  content: "";
  background-image: url(../img/map_point.svg);
  position: absolute;
  width: 10px;
  height: 14px;
  left: 0;
  top: calc(50% - 5px);
}

/* line 202, ../sass/_pages.scss */
.slider {
  min-width: 0;
  position: relative;
  margin-bottom: 145px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* ╨б╤В╤А╨╡╨╗╨║╨░ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨╗╨╡╨▓╨╛ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨┐╤А╨░╨▓╨╛ */
  /* ╨в╨╛╤З╨║╨╕ (╨▒╤Г╨╗╨╕╤В╤Л) */
}
/* line 208, ../sass/_pages.scss */
.slider .slider_item {
  min-width: 0;
  text-align: center;
  margin: 30px 25px;
}
/* line 212, ../sass/_pages.scss */
.slider .slider_item_card {
  width: 1110px;
  height: 450px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
  overflow: hidden;
}
/* line 219, ../sass/_pages.scss */
.slider .slider_item_card_info {
  text-align: start;
  display: block;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0px;
  background: linear-gradient(73deg, #0c4187 51%, #0c4187 60%, rgba(12, 65, 135, 0.2) 80%, transparent 80.02%, transparent 100%);
  padding-left: 93px;
  padding-right: 139px;
  color: #ffffff;
  text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
}
/* line 239, ../sass/_pages.scss */
.slider .slider_item_card_info h2 {
  font-size: 36px;
  line-height: 49px;
  padding-top: 137px;
  margin-bottom: 0;
}
/* line 245, ../sass/_pages.scss */
.slider .slider_item_card_info p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0;
}
/* line 252, ../sass/_pages.scss */
.slider .slider_item_card_info a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 164px;
  height: 45px;
}
/* line 258, ../sass/_pages.scss */
.slider .slider_item_card_info a:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 265, ../sass/_pages.scss */
.slider .slider_item_card_bg {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 271, ../sass/_pages.scss */
.slider .slider_item_card_effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 281, ../sass/_pages.scss */
.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 35px);
  z-index: 10;
  font-size: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 30px;
  height: 70px;
  background-position: center;
}
/* line 294, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev {
  left: calc(50% - 15px);
  transform: translateX(-510px);
  background-image: url(../img/left.svg);
  background-repeat: no-repeat;
}
/* line 299, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev:hover {
  background-image: url(../img/white_left.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 306, ../sass/_pages.scss */
.slider .slick-arrow.slick-next {
  right: calc(50% - 15px);
  transform: translateX(510px);
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
}
/* line 311, ../sass/_pages.scss */
.slider .slick-arrow.slick-next:hover {
  background-image: url(../img/white_right.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 318, ../sass/_pages.scss */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin-bottom: 0;
  padding: 0;
}
/* line 329, ../sass/_pages.scss */
.slider .slick-dots li {
  list-style: none;
  line-height: 0;
  margin: 0px 7px;
}
/* line 334, ../sass/_pages.scss */
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000000;
}
/* line 342, ../sass/_pages.scss */
.slider .slick-dots li.slick-active button {
  background-color: #005de1;
  border: 1px solid #005de1;
}

/* ╨Ю╨│╤А╨░╨╜╨╕╤З╨╕╨▓╨░╤О╤Й╨░╤П ╨╛╨▒╨╛╨╗╨╛╤З╨║╨░ */
/* line 349, ../sass/_pages.scss */
.slick-list {
  overflow: hidden;
}

/* ╨Ы╨╡╨╜╤В╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ */
/* line 353, ../sass/_pages.scss */
.slick-track {
  display: flex;
  /* ╨Ф╨╗╤П ╨░╨┤╨░╨┐╤В╨╕╨▓╨░ ╤А╨░╨╖╨╝╨╡╤А╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ ╨▓ JS */
  align-items: flex-start;
}

/* line 359, ../sass/_pages.scss */
.catalog {
  margin-bottom: 132px;
}
/* line 361, ../sass/_pages.scss */
.catalog_title {
  display: block;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  color: #113566;
}
/* line 368, ../sass/_pages.scss */
.catalog .catalog_link {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 210px;
  height: 45px;
}
/* line 374, ../sass/_pages.scss */
.catalog .catalog_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 380, ../sass/_pages.scss */
.catalog .catalog_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 25px;
}
/* line 388, ../sass/_pages.scss */
.catalog .catalog_menu .catalog_menu_item_info {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
/* line 392, ../sass/_pages.scss */
.catalog .catalog_menu .catalog_menu_item_info h2 {
  font-size: 40px;
}
/* line 395, ../sass/_pages.scss */
.catalog .catalog_menu .catalog_menu_item_info p {
  font-size: 20px;
}
/* line 399, ../sass/_pages.scss */
.catalog .catalog_menu_item_01 {
  width: calc(100% / 3);
  height: 246px;
  background-image: url(../img/catalog_img/catalog_01.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* line 413, ../sass/_pages.scss */
.service {
  background-color: #ebf3f8;
}
/* line 415, ../sass/_pages.scss */
.service_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 420, ../sass/_pages.scss */
.service_block_item {
  width: calc(100% / 2);
  padding-left: 390px;
  padding-right: 40px;
}
/* line 424, ../sass/_pages.scss */
.service_block_item:last-child {
  padding: 0;
}
/* line 427, ../sass/_pages.scss */
.service_block_item .service_banner {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
}
/* line 432, ../sass/_pages.scss */
.service_block_item h2 {
  padding: 51px 0px 28px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #113566;
}
/* line 440, ../sass/_pages.scss */
.service_block_item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(18, 32, 52, 0.6);
  padding-bottom: 48px;
}
/* line 448, ../sass/_pages.scss */
.service_block_item .service_link {
  display: inline-block;
  width: 164px;
  height: 45px;
}
/* line 452, ../sass/_pages.scss */
.service_block_item .service_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}

/* line 462, ../sass/_pages.scss */
.about {
  width: 100%;
  background-image: url(../img/About_img.jpg);
  background-repeat: no-repeat;
}
/* line 467, ../sass/_pages.scss */
.about_block_item {
  display: flex;
  flex-wrap: nowrap;
}

/* line 476, ../sass/_pages.scss */
.footer_wrap {
  width: 100%;
  height: 128px;
  background-color: #0c4187;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 483, ../sass/_pages.scss */
.footer_wrap .footer_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* line 490, ../sass/_pages.scss */
.footer_wrap .footer_block_item span {
  padding-left: 96px;
  color: #ffffff;
  font-size: 16px;
}

/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
