@charset "UTF-8";
/* line 6, ../sass/_mixin.scss */
.example-class {
  color: white;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited {
  outline: none;
}

/* line 16, ../sass/_pages.scss */
.slider .slider_item_card_info a, .catalog .catalog_link, .service_block_item .service_link {
  border: 1px solid #005ed5;
  border-radius: 50px;
  background-color: #005ed5;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 0;
}

/* line 29, ../sass/_pages.scss */
.navigation {
  background-color: #ebf3f8;
}
/* line 31, ../sass/_pages.scss */
.navigation_row {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 36, ../sass/_pages.scss */
.navigation_row .nav li {
  font-size: 16px;
  margin-right: 30px;
  height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid transparent;
}
/* line 43, ../sass/_pages.scss */
.navigation_row .nav li a {
  padding: 0 10px;
  color: #122034;
  text-decoration: none;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  display: inline-block;
}
/* line 52, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) a:hover {
  color: #122034;
  text-decoration: none;
  transform: scale(1.1);
}
/* line 57, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) :hover {
  border-bottom: 3px solid #005ed5;
}
/* line 60, ../sass/_pages.scss */
.navigation_row .account {
  text-decoration: none;
}
/* line 62, ../sass/_pages.scss */
.navigation_row .account:hover {
  text-decoration: none;
}

/* line 70, ../sass/_pages.scss */
.header_contacts {
  padding: 55px 0 25px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 77, ../sass/_pages.scss */
.header_contacts_item_links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 83, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
}
/* line 90, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list:before {
  content: "";
  background-image: url(../img/header_phone.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: calc(50% - 9px);
}
/* line 99, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li {
  position: relative;
  padding-right: 11px;
  margin-left: 10px;
}
/* line 104, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:last-child::after {
  display: none;
}
/* line 108, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  background-color: #000000;
}
/* line 120, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a {
  display: inline-block;
  font-size: 16px;
  color: #000000;
}
/* line 124, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 128, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a span {
  font-weight: bold;
  font-size: large;
}
/* line 134, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup {
  margin-left: 30px;
}
/* line 136, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list {
  margin-bottom: 0;
  padding-left: 35px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 144, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list:before {
  content: "";
  background-image: url(../img/header_mail.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: calc(50% - 8px);
}
/* line 153, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a {
  font-size: 18px;
  color: #122034;
  display: block;
}
/* line 157, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 165, ../sass/_pages.scss */
.header_contacts_item_adress {
  font-size: 13px;
  color: rgba(18, 32, 52, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 172, ../sass/_pages.scss */
.header_contacts_item_adress-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: 0px;
}
/* line 181, ../sass/_pages.scss */
.header_contacts_item_adress-list li {
  margin-left: 20px;
  padding-left: 24px;
  position: relative;
  display: block;
}
/* line 186, ../sass/_pages.scss */
.header_contacts_item_adress-list li:before {
  content: "";
  background-image: url(../img/map_point.svg);
  position: absolute;
  width: 10px;
  height: 14px;
  left: 0;
  top: calc(50% - 5px);
}
/* line 199, ../sass/_pages.scss */
.header_contacts_basket {
  position: relative;
  padding-left: 30px;
  align-self: flex-end;
}
/* line 203, ../sass/_pages.scss */
.header_contacts_basket::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 40px;
  background-color: rgba(18, 32, 52, 0.3);
}
/* line 213, ../sass/_pages.scss */
.header_contacts_basket_companents {
  display: block;
  text-decoration: none;
}
/* line 216, ../sass/_pages.scss */
.header_contacts_basket_companents:hover {
  text-decoration: none;
}
/* line 218, ../sass/_pages.scss */
.header_contacts_basket_companents:hover .counter {
  background-color: #cf3a3a;
}
/* line 221, ../sass/_pages.scss */
.header_contacts_basket_companents:hover .ico {
  opacity: 0.6;
}
/* line 225, ../sass/_pages.scss */
.header_contacts_basket_companents .counter {
  width: 26px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  background-color: #ff5a5a;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
/* line 237, ../sass/_pages.scss */
.header_contacts_basket_companents .ico {
  width: 25px;
  height: 25px;
}

/* line 246, ../sass/_pages.scss */
.slider {
  min-width: 0;
  position: relative;
  margin-bottom: 145px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* ╨б╤В╤А╨╡╨╗╨║╨░ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨╗╨╡╨▓╨╛ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨┐╤А╨░╨▓╨╛ */
  /* ╨в╨╛╤З╨║╨╕ (╨▒╤Г╨╗╨╕╤В╤Л) */
}
/* line 252, ../sass/_pages.scss */
.slider .slider_item {
  min-width: 0;
  text-align: center;
  margin: 30px 25px;
}
/* line 259, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_1 {
  transform: rotate(-77deg);
  width: 15px;
  height: 15px;
  left: 4%;
  bottom: 13%;
}
/* line 266, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_2 {
  transform: rotate(-70deg);
  width: 18px;
  height: 18px;
  left: 6%;
  top: 12%;
}
/* line 273, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_3 {
  transform: rotate(-105deg);
  width: 30px;
  height: 30px;
  left: 28%;
  bottom: 0px;
}
/* line 280, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_4 {
  transform: rotate(-38deg);
  width: 32px;
  height: 32px;
  left: 38%;
  top: 48%;
}
/* line 287, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_5 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  right: 30%;
  bottom: 13.5%;
}
/* line 294, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_6 {
  transform: rotate(-38deg);
  width: 20px;
  height: 20px;
  right: 1.5%;
  bottom: 25%;
}
/* line 303, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .ring_1 {
  top: 253px;
  right: 233px;
  width: 239px;
  height: 239px;
}
/* line 309, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .ring_2 {
  top: 185px;
  right: 165px;
  width: 375px;
  height: 375px;
}
/* line 315, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .ring_3 {
  top: 119px;
  right: 99px;
  width: 507px;
  height: 507px;
}
/* line 324, ../sass/_pages.scss */
.slider .slider_item_card {
  width: 1110px;
  height: 450px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
  overflow: hidden;
}
/* line 331, ../sass/_pages.scss */
.slider .slider_item_card_info {
  text-align: start;
  display: block;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0px;
  background: linear-gradient(73deg, #0c4187 51%, #0c4187 60%, rgba(12, 65, 135, 0.2) 80%, transparent 80.02%, transparent 100%);
  padding-left: 93px;
  padding-right: 270px;
  color: #ffffff;
  text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
}
/* line 351, ../sass/_pages.scss */
.slider .slider_item_card_info h2 {
  font-size: 36px;
  line-height: 49px;
  padding-top: 137px;
  margin-bottom: 0;
}
/* line 357, ../sass/_pages.scss */
.slider .slider_item_card_info p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0;
}
/* line 364, ../sass/_pages.scss */
.slider .slider_item_card_info a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 164px;
  height: 45px;
}
/* line 370, ../sass/_pages.scss */
.slider .slider_item_card_info a:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 377, ../sass/_pages.scss */
.slider .slider_item_card_bg {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 383, ../sass/_pages.scss */
.slider .slider_item_card_effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 391, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_1 {
  transform: rotate(0deg);
  width: 15px;
  height: 15px;
  left: -15px;
  bottom: -15px;
}
/* line 398, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_2 {
  transform: rotate(0deg);
  width: 18px;
  height: 18px;
  left: -18px;
  top: -18px;
}
/* line 405, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_3 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -30px;
}
/* line 412, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_4 {
  transform: rotate(0deg);
  width: 32px;
  height: 32px;
  left: 50%;
  top: -32px;
}
/* line 419, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_5 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  right: -30px;
  bottom: -30px;
}
/* line 426, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_6 {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  right: -20px;
  bottom: -20px;
}
/* line 435, ../sass/_pages.scss */
.slider .slider_item_card_effect .ring_1 {
  top: 100%;
  right: 233px;
  width: 239px;
  height: 239px;
}
/* line 441, ../sass/_pages.scss */
.slider .slider_item_card_effect .ring_2 {
  top: 100%;
  right: 165px;
  width: 375px;
  height: 375px;
}
/* line 447, ../sass/_pages.scss */
.slider .slider_item_card_effect .ring_3 {
  top: 100%;
  right: 99px;
  width: 507px;
  height: 507px;
}
/* line 454, ../sass/_pages.scss */
.slider .slider_item_card_effect_cross {
  background: url(../img/cross_effect.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  transition: all linear 0.9s;
}
/* line 460, ../sass/_pages.scss */
.slider .slider_item_card_effect_ring {
  background: url(../img/circle_effect.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  transition: all linear 0.9s;
}
/* line 470, ../sass/_pages.scss */
.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 35px);
  z-index: 10;
  font-size: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 30px;
  height: 70px;
  background-position: center;
}
/* line 483, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev {
  left: calc(50% - 15px);
  transform: translateX(-510px);
  background-image: url(../img/left.svg);
  background-repeat: no-repeat;
}
/* line 488, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev:hover {
  background-image: url(../img/white_left.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 495, ../sass/_pages.scss */
.slider .slick-arrow.slick-next {
  right: calc(50% - 15px);
  transform: translateX(510px);
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
}
/* line 500, ../sass/_pages.scss */
.slider .slick-arrow.slick-next:hover {
  background-image: url(../img/white_right.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 507, ../sass/_pages.scss */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin-bottom: 0;
  padding: 0;
}
/* line 518, ../sass/_pages.scss */
.slider .slick-dots li {
  list-style: none;
  line-height: 0;
  margin: 0px 7px;
}
/* line 523, ../sass/_pages.scss */
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000000;
}
/* line 531, ../sass/_pages.scss */
.slider .slick-dots li.slick-active button {
  background-color: #005de1;
  border: 1px solid #005de1;
}

/* ╨Ю╨│╤А╨░╨╜╨╕╤З╨╕╨▓╨░╤О╤Й╨░╤П ╨╛╨▒╨╛╨╗╨╛╤З╨║╨░ */
/* line 538, ../sass/_pages.scss */
.slick-list {
  overflow: hidden;
}

/* ╨Ы╨╡╨╜╤В╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ */
/* line 542, ../sass/_pages.scss */
.slick-track {
  display: flex;
  /* ╨Ф╨╗╤П ╨░╨┤╨░╨┐╤В╨╕╨▓╨░ ╤А╨░╨╖╨╝╨╡╤А╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ ╨▓ JS */
  align-items: flex-start;
}

/* line 548, ../sass/_pages.scss */
.catalog {
  margin-bottom: 132px;
}
/* line 550, ../sass/_pages.scss */
.catalog_title {
  display: block;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  color: #113566;
}
/* line 557, ../sass/_pages.scss */
.catalog .catalog_link {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 210px;
  height: 45px;
}
/* line 563, ../sass/_pages.scss */
.catalog .catalog_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 569, ../sass/_pages.scss */
.catalog .catalog_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 25px;
}
/* line 575, ../sass/_pages.scss */
.catalog .catalog_menu_item {
  position: relative;
  width: 350px;
  height: 246px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-radius: 10px;
  text-decoration: none;
}
/* line 585, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover {
  background: rgba(13, 66, 136, 0.9);
}
/* line 589, ../sass/_pages.scss */
.catalog .catalog_menu_item_info {
  text-align: start;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #ffffff;
  padding: 0 0 40px 51px;
}
/* line 596, ../sass/_pages.scss */
.catalog .catalog_menu_item_info h2 {
  font-size: 40px;
}
/* line 599, ../sass/_pages.scss */
.catalog .catalog_menu_item_info p {
  font-size: 20px;
}
/* line 603, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 611, ../sass/_pages.scss */
.catalog .catalog_menu .bg_01 {
  background: url(../img/catalog_img/catalog_01.jpg) no-repeat center;
  background-size: contain;
}
/* line 615, ../sass/_pages.scss */
.catalog .catalog_menu .bg_01:hover {
  background: rgba(13, 66, 136, 0.9);
}
/* line 619, ../sass/_pages.scss */
.catalog .catalog_menu .bg_02 {
  background: url(../img/catalog_img/catalog_02.jpg) no-repeat center;
  background-size: contain;
}
/* line 623, ../sass/_pages.scss */
.catalog .catalog_menu .bg_03 {
  background: url(../img/catalog_img/catalog_03.jpg) no-repeat center;
  background-size: contain;
}
/* line 627, ../sass/_pages.scss */
.catalog .catalog_menu .bg_04 {
  background: url(../img/catalog_img/catalog_04.jpg) no-repeat center;
  background-size: contain;
}
/* line 631, ../sass/_pages.scss */
.catalog .catalog_menu .bg_05 {
  background: url(../img/catalog_img/catalog_05.jpg) no-repeat center;
  background-size: contain;
}
/* line 635, ../sass/_pages.scss */
.catalog .catalog_menu .bg_06 {
  background: url(../img/catalog_img/catalog_06.jpg) no-repeat center;
  background-size: contain;
}

/* line 643, ../sass/_pages.scss */
.service {
  background-color: #ebf3f8;
}
/* line 645, ../sass/_pages.scss */
.service_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 650, ../sass/_pages.scss */
.service_block_item {
  width: calc(100% / 2);
  padding-left: 390px;
  padding-right: 40px;
}
/* line 654, ../sass/_pages.scss */
.service_block_item:last-child {
  padding: 0;
}
/* line 657, ../sass/_pages.scss */
.service_block_item .service_banner {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
}
/* line 662, ../sass/_pages.scss */
.service_block_item h2 {
  padding: 51px 0px 28px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #113566;
}
/* line 670, ../sass/_pages.scss */
.service_block_item p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(18, 32, 52, 0.6);
  padding-bottom: 48px;
}
/* line 678, ../sass/_pages.scss */
.service_block_item .service_link {
  display: inline-block;
  width: 164px;
  height: 45px;
}
/* line 682, ../sass/_pages.scss */
.service_block_item .service_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}

/* line 692, ../sass/_pages.scss */
.about {
  width: 100%;
  background-image: url(../img/About_img.jpg);
  background-repeat: no-repeat;
}
/* line 697, ../sass/_pages.scss */
.about_block_item {
  display: flex;
  flex-wrap: nowrap;
}

/* line 705, ../sass/_pages.scss */
.footer_wrap {
  width: 100%;
  height: 128px;
  background-color: #0c4187;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 712, ../sass/_pages.scss */
.footer_wrap .footer_block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
/* line 719, ../sass/_pages.scss */
.footer_wrap .footer_block_item span {
  padding-left: 96px;
  color: #ffffff;
  font-size: 16px;
}

/* line 3, ../sass/_icon.scss */
.ico.ico_basket {
  background: url(../img/header_basket.svg) no-repeat center;
  background-size: contain;
}

/* line 6, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
