@charset "UTF-8";
/* line 6, ../sass/_mixin.scss */
.example-class {
  color: white;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited {
  outline: none;
}

/* line 16, ../sass/_pages.scss */
.slider .slider_item_card_info a, .catalog .catalog_link, .service_block_info .service_link {
  border: 1px solid #005ed5;
  border-radius: 50px;
  background-color: #005ed5;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding: 9px 0;
}

/* line 28, ../sass/_pages.scss */
*:focus {
  outline: none;
}

/* line 33, ../sass/_pages.scss */
.mobil_logo {
  display: none;
}

/* line 36, ../sass/_pages.scss */
.navigation_burger {
  display: none;
}
/* line 38, ../sass/_pages.scss */
.navigation_burger_trigger {
  background: url(../img/burger.svg) no-repeat center;
  background-size: contain;
  width: 20px;
  height: 14px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
/* line 46, ../sass/_pages.scss */
.navigation_burger_trigger:hover {
  opacity: 0.6;
}
/* line 49, ../sass/_pages.scss */
.navigation_burger_trigger.active {
  background: url(../img/burger_cross.svg) no-repeat center;
  background-size: contain;
}

/* line 55, ../sass/_pages.scss */
.burger_menu {
  display: none;
}

/* line 58, ../sass/_pages.scss */
.burger_menu_tel-list {
  display: none;
}

/* line 61, ../sass/_pages.scss */
.burger_menu_mail-list {
  display: none;
}

/* line 64, ../sass/_pages.scss */
.burger_menu_adress-list {
  display: none;
}

/* line 67, ../sass/_pages.scss */
.mobile_subtitle {
  display: none;
}

/* line 70, ../sass/_pages.scss */
.mobil_basket {
  display: none;
}

/* line 73, ../sass/_pages.scss */
.navigation {
  background-color: #ebf3f8;
}
/* line 75, ../sass/_pages.scss */
.navigation_row {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
/* line 81, ../sass/_pages.scss */
.navigation_row .nav li {
  font-size: 16px;
  margin-right: 30px;
  height: 50px;
  vertical-align: middle;
  border-bottom: 3px solid transparent;
}
/* line 88, ../sass/_pages.scss */
.navigation_row .nav li a {
  padding: 0 10px;
  color: #122034;
  text-decoration: none;
  height: 47px;
  line-height: 47px;
  vertical-align: middle;
  display: inline-block;
}
/* line 97, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) a:hover {
  color: #122034;
  text-decoration: none;
  transform: scale(1.1);
}
/* line 102, ../sass/_pages.scss */
.navigation_row .nav li:not(.home_ico) :hover {
  border-bottom: 3px solid #005ed5;
}
/* line 105, ../sass/_pages.scss */
.navigation_row .account {
  text-decoration: none;
}
/* line 107, ../sass/_pages.scss */
.navigation_row .account:hover {
  text-decoration: none;
}

/* line 115, ../sass/_pages.scss */
.header_contacts {
  padding: 55px 0 25px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
/* line 122, ../sass/_pages.scss */
.header_contacts_item_links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 128, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
}
/* line 135, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list:before {
  content: "";
  background-image: url(../img/header_phone.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: calc(50% - 9px);
}
/* line 144, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li {
  position: relative;
  padding-right: 11px;
  margin-left: 10px;
}
/* line 149, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:last-child::after {
  display: none;
}
/* line 153, ../sass/_pages.scss */
.header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: calc(50% - 8px);
  width: 1px;
  height: 16px;
  background-color: #000000;
}
/* line 165, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a {
  display: inline-block;
  font-size: 16px;
  color: #000000;
}
/* line 169, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 173, ../sass/_pages.scss */
.header_contacts_item_links_telgroup a span {
  font-weight: bold;
  font-size: large;
}
/* line 179, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup {
  margin-left: 30px;
}
/* line 181, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list {
  margin-bottom: 0;
  padding-left: 35px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 189, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list:before {
  content: "";
  background-image: url(../img/header_mail.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: calc(50% - 8px);
}
/* line 198, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a {
  font-size: 18px;
  color: #122034;
  display: block;
}
/* line 202, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 207, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown {
  display: none;
  padding-left: 0px;
  position: relative;
}
/* line 211, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label {
  width: 100%;
  position: relative;
  margin-bottom: 0px;
}
/* line 215, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label span {
  padding-right: 15px;
  padding-left: 26px;
  position: relative;
  cursor: pointer;
}
/* line 220, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label span::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 10px;
  height: 14px;
  background: url(../img/map_point.svg) no-repeat center;
  background-size: contain;
}
/* line 230, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label span:after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 1px);
  width: 9px;
  height: 5px;
  background: url(../img/drop_down.svg) no-repeat center;
  background-size: contain;
}
/* line 241, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label input {
  display: none;
}
/* line 244, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label input:checked ~ div {
  max-height: 100px;
  padding: 5px 10px;
}
/* line 250, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label P {
  margin-bottom: 10px;
}
/* line 253, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown label div {
  transition: all linear 0.4s;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #ebf3f8;
  padding: 0 10px;
  z-index: 1;
  box-shadow: 4px 4px 10px rgba(18, 32, 52, 0.3);
  border-radius: 0 0 5px 5px;
  text-align: center;
}
/* line 270, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel {
  display: none;
  padding-left: 0px;
  position: relative;
}
/* line 274, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label {
  width: 100%;
  position: relative;
  margin-bottom: 0px;
}
/* line 278, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label span {
  padding-right: 17px;
  padding-left: 28px;
  position: relative;
  cursor: pointer;
  font-size: 17px;
}
/* line 284, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label span::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  background: url(../img/header_phone.svg) no-repeat center;
  background-size: contain;
}
/* line 294, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label span:after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 1px);
  width: 9px;
  height: 5px;
  background: url(../img/drop_down.svg) no-repeat center;
  background-size: contain;
}
/* line 305, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label input {
  display: none;
}
/* line 308, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label input:checked ~ div {
  max-height: 100px;
  padding: 5px 10px;
}
/* line 314, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label P {
  margin-bottom: 10px;
}
/* line 317, ../sass/_pages.scss */
.header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel label div {
  transition: all linear 0.4s;
  max-height: 0px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #ebf3f8;
  padding: 0 10px;
  z-index: 1;
  box-shadow: 4px 4px 10px rgba(18, 32, 52, 0.3);
  border-radius: 0 0 5px 5px;
  text-align: center;
}
/* line 337, ../sass/_pages.scss */
.header_contacts_item_adress {
  font-size: 13px;
  color: rgba(18, 32, 52, 0.6);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
/* line 344, ../sass/_pages.scss */
.header_contacts_item_adress-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: 0px;
}
/* line 353, ../sass/_pages.scss */
.header_contacts_item_adress-list li {
  margin-left: 20px;
  padding-left: 24px;
  position: relative;
  display: block;
}
/* line 358, ../sass/_pages.scss */
.header_contacts_item_adress-list li:before {
  content: "";
  background-image: url(../img/map_point.svg);
  position: absolute;
  width: 10px;
  height: 14px;
  left: 0;
  top: calc(50% - 5px);
}
/* line 371, ../sass/_pages.scss */
.header_contacts_basket {
  position: relative;
  padding-left: 30px;
  align-self: flex-end;
}
/* line 375, ../sass/_pages.scss */
.header_contacts_basket::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 1px;
  height: 40px;
  background-color: rgba(18, 32, 52, 0.3);
}
/* line 385, ../sass/_pages.scss */
.header_contacts_basket_companents {
  display: block;
  text-decoration: none;
}
/* line 388, ../sass/_pages.scss */
.header_contacts_basket_companents:hover {
  text-decoration: none;
}
/* line 390, ../sass/_pages.scss */
.header_contacts_basket_companents:hover .counter {
  background-color: #cf3a3a;
}
/* line 393, ../sass/_pages.scss */
.header_contacts_basket_companents:hover .ico {
  opacity: 0.6;
}
/* line 397, ../sass/_pages.scss */
.header_contacts_basket_companents .counter {
  width: 26px;
  height: 24px;
  border-radius: 12px;
  line-height: 24px;
  background-color: #ff5a5a;
  margin-bottom: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
/* line 409, ../sass/_pages.scss */
.header_contacts_basket_companents .ico {
  width: 25px;
  height: 25px;
}

/* line 418, ../sass/_pages.scss */
.slider {
  min-width: 0;
  position: relative;
  margin-bottom: 145px;
  padding-bottom: 10px;
  padding-top: 10px;
  /* ╨б╤В╤А╨╡╨╗╨║╨░ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨╗╨╡╨▓╨╛ */
  /* ╨б╤В╤А╨╡╨╗╨║╨░ ╨▓╨┐╤А╨░╨▓╨╛ */
  /* ╨в╨╛╤З╨║╨╕ (╨▒╤Г╨╗╨╕╤В╤Л) */
}
/* line 424, ../sass/_pages.scss */
.slider .slider_item {
  min-width: 0;
  text-align: center;
  margin: 30px 25px;
}
/* line 431, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_1 {
  transform: rotate(-77deg);
  width: 15px;
  height: 15px;
  left: 4%;
  bottom: 13%;
}
/* line 438, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_2 {
  transform: rotate(-70deg);
  width: 18px;
  height: 18px;
  left: 6%;
  top: 12%;
}
/* line 445, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_3 {
  transform: rotate(-105deg);
  width: 30px;
  height: 30px;
  left: 28%;
  bottom: 0px;
}
/* line 452, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_4 {
  transform: rotate(-38deg);
  width: 32px;
  height: 32px;
  left: 38%;
  top: 48%;
}
/* line 459, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_5 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
}
/* line 464, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect .cross_6 {
  transform: rotate(-38deg);
  width: 20px;
  height: 20px;
  right: 1.5%;
  bottom: 25%;
}
/* line 472, ../sass/_pages.scss */
.slider .slider_item.slick-active .slider_item_card_effect_ring {
  top: 27%;
  right: 9%;
  width: 506px;
  height: 506px;
}
/* line 480, ../sass/_pages.scss */
.slider .slider_item_card {
  width: 1110px;
  height: 450px;
  position: relative;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
  overflow: hidden;
}
/* line 487, ../sass/_pages.scss */
.slider .slider_item_card_info {
  text-align: start;
  display: block;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 0;
  top: 0px;
  background: linear-gradient(73deg, #0c4187 51%, #0c4187 60%, rgba(12, 65, 135, 0.2) 80%, transparent 80.02%, transparent 100%);
  padding-left: 93px;
  padding-right: 270px;
  color: #ffffff;
  text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
}
/* line 507, ../sass/_pages.scss */
.slider .slider_item_card_info h2 {
  font-size: 36px;
  line-height: 49px;
  padding-top: 137px;
  margin-bottom: 0;
}
/* line 513, ../sass/_pages.scss */
.slider .slider_item_card_info p {
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0;
}
/* line 520, ../sass/_pages.scss */
.slider .slider_item_card_info a {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 164px;
  height: 45px;
}
/* line 526, ../sass/_pages.scss */
.slider .slider_item_card_info a:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 533, ../sass/_pages.scss */
.slider .slider_item_card_bg {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 539, ../sass/_pages.scss */
.slider .slider_item_card_effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 547, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_1 {
  transform: rotate(0deg);
  width: 15px;
  height: 15px;
  left: -15px;
  bottom: -15px;
}
/* line 554, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_2 {
  transform: rotate(0deg);
  width: 18px;
  height: 18px;
  left: -18px;
  top: -18px;
}
/* line 561, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_3 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  left: 50%;
  bottom: -30px;
}
/* line 568, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_4 {
  transform: rotate(0deg);
  width: 32px;
  height: 32px;
  left: 50%;
  top: -32px;
}
/* line 575, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_5 {
  transform: rotate(0deg);
  width: 0;
  height: 0;
  right: 30%;
  bottom: 13.5%;
}
/* line 582, ../sass/_pages.scss */
.slider .slider_item_card_effect .cross_6 {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  right: -20px;
  bottom: -20px;
}
/* line 590, ../sass/_pages.scss */
.slider .slider_item_card_effect_cross {
  background: url(../img/cross_effect.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  transition: all linear 0.6s;
}
/* line 596, ../sass/_pages.scss */
.slider .slider_item_card_effect_ring {
  background: url(../img/ring_group.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  transition: all linear 0.6s;
  top: calc(27% + 253px);
  right: calc(9% + 253px);
  transform: rotate(45deg);
  width: 0;
  height: 0;
}
/* line 611, ../sass/_pages.scss */
.slider .slick-arrow {
  position: absolute;
  top: calc(50% - 35px);
  z-index: 10;
  font-size: 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 30px;
  height: 70px;
  background-position: center;
  cursor: pointer;
}
/* line 625, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev {
  left: calc(50% - 15px);
  transform: translateX(-510px);
  background-image: url(../img/left.svg);
  background-repeat: no-repeat;
}
/* line 630, ../sass/_pages.scss */
.slider .slick-arrow.slick-prev:hover {
  background-image: url(../img/white_left.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 637, ../sass/_pages.scss */
.slider .slick-arrow.slick-next {
  right: calc(50% - 15px);
  transform: translateX(510px);
  background-image: url(../img/right.svg);
  background-repeat: no-repeat;
}
/* line 642, ../sass/_pages.scss */
.slider .slick-arrow.slick-next:hover {
  background-image: url(../img/white_right.svg);
  background-color: #1076f9;
  background-repeat: no-repeat;
}
/* line 649, ../sass/_pages.scss */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin-bottom: 0;
  padding: 0;
}
/* line 660, ../sass/_pages.scss */
.slider .slick-dots li {
  list-style: none;
  line-height: 0;
  margin: 0px 7px;
}
/* line 665, ../sass/_pages.scss */
.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000000;
}
/* line 673, ../sass/_pages.scss */
.slider .slick-dots li.slick-active button {
  background-color: #005de1;
  border: 1px solid #005de1;
}

/* ╨Ю╨│╤А╨░╨╜╨╕╤З╨╕╨▓╨░╤О╤Й╨░╤П ╨╛╨▒╨╛╨╗╨╛╤З╨║╨░ */
/* line 680, ../sass/_pages.scss */
.slick-list {
  overflow: hidden;
}

/* ╨Ы╨╡╨╜╤В╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ */
/* line 684, ../sass/_pages.scss */
.slick-track {
  display: flex;
  /* ╨Ф╨╗╤П ╨░╨┤╨░╨┐╤В╨╕╨▓╨░ ╤А╨░╨╖╨╝╨╡╤А╨░ ╤Б╨╗╨░╨╣╨┤╨╛╨▓ ╨▓ JS */
  align-items: flex-start;
}

/* line 690, ../sass/_pages.scss */
.catalog {
  margin-bottom: 132px;
}
/* line 692, ../sass/_pages.scss */
.catalog .container {
  padding: 0px;
}
/* line 695, ../sass/_pages.scss */
.catalog_title {
  display: block;
  text-align: center;
  font-size: 34px;
  text-transform: uppercase;
  color: #113566;
}
/* line 702, ../sass/_pages.scss */
.catalog .catalog_link {
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 210px;
  height: 45px;
}
/* line 708, ../sass/_pages.scss */
.catalog .catalog_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 714, ../sass/_pages.scss */
.catalog .catalog_menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 35px;
  margin-bottom: 25px;
}
/* line 720, ../sass/_pages.scss */
.catalog .catalog_menu_item {
  position: relative;
  width: calc(100% / 3 - 30px);
  height: 246px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  text-decoration: none;
  margin: 15px;
  overflow: hidden;
  background-size: cover !important;
}
/* line 735, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover .catalog_menu_item_effect {
  opacity: 1;
}
/* line 738, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover .catalog_menu_item_effect .cross_1 {
  left: 3%;
  bottom: 66%;
  transform: rotate(402deg);
}
/* line 743, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover .catalog_menu_item_effect .cross_2 {
  left: 51%;
  bottom: 81%;
  transform: rotate(398deg);
}
/* line 748, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover .catalog_menu_item_effect .cross_3 {
  left: 80%;
  bottom: 45%;
  transform: rotate(415deg);
}
/* line 753, ../sass/_pages.scss */
.catalog .catalog_menu_item:hover .catalog_menu_item_effect .cross_4 {
  left: 90%;
  bottom: 84%;
  transform: rotate(615deg);
}
/* line 761, ../sass/_pages.scss */
.catalog .catalog_menu_item_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 105px;
  z-index: 1;
}
/* line 773, ../sass/_pages.scss */
.catalog .catalog_menu_item_info h2 {
  display: block;
  position: relative;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 7px;
  padding-left: 18px;
}
/* line 780, ../sass/_pages.scss */
.catalog .catalog_menu_item_info h2:before {
  content: "";
  position: absolute;
  display: block;
  left: -2px;
  bottom: 0;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
/* line 792, ../sass/_pages.scss */
.catalog .catalog_menu_item_info p {
  font-size: 20px;
  line-height: 27px;
  margin: 0px;
}
/* line 798, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect {
  opacity: 0.4;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 66, 136, 0.8);
}
/* line 806, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect_cross {
  background: url(../img/cross_effect.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  transition: all linear 0.5s;
}
/* line 813, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect .cross_1 {
  transform: rotate(0deg);
  width: 15px;
  height: 15px;
  left: -30px;
  bottom: -30px;
}
/* line 820, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect .cross_2 {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  left: -30px;
  bottom: -30px;
}
/* line 827, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect .cross_3 {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  left: -30px;
  bottom: -30px;
}
/* line 834, ../sass/_pages.scss */
.catalog .catalog_menu_item_effect .cross_4 {
  transform: rotate(0deg);
  width: 30px;
  height: 30px;
  left: -30px;
  bottom: -30px;
}
/* line 844, ../sass/_pages.scss */
.catalog .catalog_menu .bg_01 {
  background: url(../img/catalog_img/catalog_01.jpg) no-repeat center;
}
/* line 847, ../sass/_pages.scss */
.catalog .catalog_menu .bg_02 {
  background: url(../img/catalog_img/catalog_02.jpg) no-repeat center;
}
/* line 850, ../sass/_pages.scss */
.catalog .catalog_menu .bg_03 {
  background: url(../img/catalog_img/catalog_03.jpg) no-repeat center;
}
/* line 853, ../sass/_pages.scss */
.catalog .catalog_menu .bg_04 {
  background: url(../img/catalog_img/catalog_04.jpg) no-repeat center;
}
/* line 856, ../sass/_pages.scss */
.catalog .catalog_menu .bg_05 {
  background: url(../img/catalog_img/catalog_05.jpg) no-repeat center;
}
/* line 859, ../sass/_pages.scss */
.catalog .catalog_menu .bg_06 {
  background: url(../img/catalog_img/catalog_06.jpg) no-repeat center;
}

/* line 866, ../sass/_pages.scss */
.service {
  background-color: #ebf3f8;
  margin-bottom: 104px;
}
/* line 870, ../sass/_pages.scss */
.service.active .service_block_banner_effect_ring {
  top: 50px;
  left: 30px;
  width: 506px;
  height: 506px;
}
/* line 877, ../sass/_pages.scss */
.service_block {
  height: 450px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
/* line 883, ../sass/_pages.scss */
.service_block_info {
  width: 55%;
  padding-right: 65px;
  flex-shrink: 0;
}
/* line 888, ../sass/_pages.scss */
.service_block_info h2 {
  padding: 51px 0px 28px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #113566;
}
/* line 896, ../sass/_pages.scss */
.service_block_info p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(18, 32, 52, 0.6);
  padding-bottom: 48px;
}
/* line 904, ../sass/_pages.scss */
.service_block_info .service_link {
  display: inline-block;
  box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
  width: 164px;
  height: 45px;
}
/* line 909, ../sass/_pages.scss */
.service_block_info .service_link:hover {
  text-decoration: none;
  background-color: #1076f9;
}
/* line 916, ../sass/_pages.scss */
.service_block_banner {
  position: relative;
  flex-shrink: 0;
}
/* line 919, ../sass/_pages.scss */
.service_block_banner_img {
  width: 880px;
  box-shadow: 4px 4px 30px rgba(18, 32, 52, 0.6);
  border-radius: 15px;
  background: linear-gradient(270deg, #113566 0%, #0c4187 29.17%, #005ed5 71.87%);
}
/* line 925, ../sass/_pages.scss */
.service_block_banner_effect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
/* line 932, ../sass/_pages.scss */
.service_block_banner_effect_ring {
  background: url(../img/ring_group.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: calc(50px + 253px);
  left: calc(30px + 253px);
  transform: rotate(45deg);
  width: 0px;
  height: 0px;
  transition: all linear 0.4s;
}

/* line 949, ../sass/_pages.scss */
.partners h2 {
  display: block;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
  color: #113566;
  margin-bottom: 30px;
}
/* line 958, ../sass/_pages.scss */
.partners .partners_slider {
  position: relative;
  text-decoration: none;
}
/* line 961, ../sass/_pages.scss */
.partners .partners_slider_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 307px;
  margin: 35px 15px;
}
/* line 969, ../sass/_pages.scss */
.partners .partners_slider_item:hover {
  box-shadow: 0px 0px 15px rgba(18, 32, 52, 0.2);
  border-radius: 10px;
  text-decoration: none;
}
/* line 973, ../sass/_pages.scss */
.partners .partners_slider_item:hover .img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none;
}
/* line 982, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 208px;
  margin-bottom: 12px;
}
/* line 991, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap .img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 1003, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap .img_01 {
  width: 137px;
  height: 140px;
  background: url(../img/SP_img/kasp_w.jpg) no-repeat center;
  background-size: contain;
}
/* line 1009, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap .img_02 {
  width: 184px;
  height: 188px;
  background: url(../img/SP_img/drweb_w.jpg) no-repeat center;
  background-size: contain;
}
/* line 1015, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap .img_03 {
  width: 183px;
  height: 110px;
  background: url(../img/SP_img/taile_w.jpg) no-repeat center;
  background-size: contain;
}
/* line 1021, ../sass/_pages.scss */
.partners .partners_slider_item_img_wrap .img_04 {
  width: 212px;
  height: 133px;
  background: url(../img/SP_img/win10_w.jpg) no-repeat center;
  background-size: contain;
}
/* line 1028, ../sass/_pages.scss */
.partners .partners_slider_item h3 {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: rgba(18, 32, 52, 0.6);
  text-decoration: none;
}
/* line 1037, ../sass/_pages.scss */
.partners .partners_slider .slick-track {
  margin-bottom: 20px;
}
/* line 1040, ../sass/_pages.scss */
.partners .partners_slider .slick-list {
  position: relative;
}
/* line 1043, ../sass/_pages.scss */
.partners .partners_slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  margin-bottom: 0;
  padding: 0;
}
/* line 1054, ../sass/_pages.scss */
.partners .partners_slider .slick-dots li {
  list-style: none;
  line-height: 0;
  margin: 0px 7px;
}
/* line 1059, ../sass/_pages.scss */
.partners .partners_slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #000000;
}
/* line 1067, ../sass/_pages.scss */
.partners .partners_slider .slick-dots li.slick-active button {
  background-color: #005de1;
  border: 1px solid #005de1;
}

/* line 1075, ../sass/_pages.scss */
.about {
  margin-top: 110px;
  width: 100%;
  background-image: url(../img/About_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
}
/* line 1082, ../sass/_pages.scss */
.about_block {
  padding-top: 80px;
}
/* line 1084, ../sass/_pages.scss */
.about_block_item {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 70px;
}
/* line 1088, ../sass/_pages.scss */
.about_block_item_about {
  width: 45%;
  padding-right: 140px;
}
/* line 1091, ../sass/_pages.scss */
.about_block_item_about h2 {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 54px;
  color: #113566;
  margin-bottom: 40px;
}
/* line 1100, ../sass/_pages.scss */
.about_block_item_about p {
  display: block;
  font-size: 18px;
  color: #000000;
}
/* line 1104, ../sass/_pages.scss */
.about_block_item_about p:last-child {
  margin: 0;
}
/* line 1109, ../sass/_pages.scss */
.about_block_item_advantages {
  width: 55%;
}
/* line 1111, ../sass/_pages.scss */
.about_block_item_advantages h4 {
  margin: 0px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #122034;
}
/* line 1120, ../sass/_pages.scss */
.about_block_item_advantages .advantages_list {
  list-style: none;
  padding-right: 50px;
  padding-left: 0;
  margin-top: 22px;
  margin-bottom: 100px;
}
/* line 1126, ../sass/_pages.scss */
.about_block_item_advantages .advantages_list li {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 20px;
  position: relative;
  padding-left: 27px;
}
/* line 1135, ../sass/_pages.scss */
.about_block_item_advantages .advantages_list li:before {
  content: "";
  background-image: url(../img/about_vector.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: 3px;
}
/* line 1144, ../sass/_pages.scss */
.about_block_item_advantages .advantages_list li:last-child {
  padding-bottom: 0px;
}
/* line 1149, ../sass/_pages.scss */
.about_block_item_advantages a {
  display: inline-block;
  margin-right: 20px;
  margin-top: 16px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #015ed5;
  position: relative;
}
/* line 1158, ../sass/_pages.scss */
.about_block_item_advantages a:hover {
  opacity: 0.8;
}
/* line 1161, ../sass/_pages.scss */
.about_block_item_advantages a .vk {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 5px);
  background: url(../img/vk.svg);
  width: 10px;
  height: 14px;
}
/* line 1169, ../sass/_pages.scss */
.about_block_item_advantages a .ok {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 5px);
  background: url(../img/ok.svg);
  width: 10px;
  height: 16px;
}
/* line 1177, ../sass/_pages.scss */
.about_block_item_advantages a .watsup {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background: url(../img/watsup.svg);
  width: 20px;
  height: 20px;
}
/* line 1185, ../sass/_pages.scss */
.about_block_item_advantages a .viber {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  background: url(../img/viber.svg);
  width: 20px;
  height: 20px;
}
/* line 1195, ../sass/_pages.scss */
.about_block_item_retail {
  width: 45%;
  padding-right: 200px;
}
/* line 1198, ../sass/_pages.scss */
.about_block_item_retail h3 {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #122034;
  margin-bottom: 30px;
}
/* line 1207, ../sass/_pages.scss */
.about_block_item_retail a {
  display: block;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}
/* line 1217, ../sass/_pages.scss */
.about_block_item_retail a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 1222, ../sass/_pages.scss */
.about_block_item_retail_adress {
  padding-left: 39px;
}
/* line 1224, ../sass/_pages.scss */
.about_block_item_retail_adress:before {
  content: "";
  background-image: url(../img/map_point_about.svg);
  position: absolute;
  width: 14px;
  height: 20px;
  left: 0;
  top: 3px;
}
/* line 1234, ../sass/_pages.scss */
.about_block_item_retail_tel {
  padding-left: 41px;
}
/* line 1236, ../sass/_pages.scss */
.about_block_item_retail_tel:before {
  content: "";
  background-image: url(../img/header_phone.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
}
/* line 1245, ../sass/_pages.scss */
.about_block_item_retail_tel span {
  font-weight: bold;
  font-size: 22px;
}
/* line 1251, ../sass/_pages.scss */
.about_block_item_corporate {
  width: 55%;
}
/* line 1253, ../sass/_pages.scss */
.about_block_item_corporate a {
  display: block;
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
}
/* line 1263, ../sass/_pages.scss */
.about_block_item_corporate a:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 1268, ../sass/_pages.scss */
.about_block_item_corporate h3 {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #122034;
  margin-bottom: 30px;
}
/* line 1277, ../sass/_pages.scss */
.about_block_item_corporate_adress {
  padding-left: 39px;
}
/* line 1279, ../sass/_pages.scss */
.about_block_item_corporate_adress:before {
  content: "";
  background-image: url(../img/map_point_about.svg);
  position: absolute;
  width: 14px;
  height: 20px;
  left: 0;
  top: 3px;
}
/* line 1289, ../sass/_pages.scss */
.about_block_item_corporate_tel-list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
  margin-bottom: 0px;
}
/* line 1297, ../sass/_pages.scss */
.about_block_item_corporate_tel-list span {
  font-weight: bold;
  font-size: 22px;
}
/* line 1301, ../sass/_pages.scss */
.about_block_item_corporate_tel-list:before {
  content: "";
  background-image: url(../img/header_phone.svg);
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 3px;
}
/* line 1310, ../sass/_pages.scss */
.about_block_item_corporate_tel-list li {
  position: relative;
  padding-right: 11px;
  margin-left: 10px;
}
/* line 1315, ../sass/_pages.scss */
.about_block_item_corporate_tel-list li:last-child::after {
  display: none;
}
/* line 1319, ../sass/_pages.scss */
.about_block_item_corporate_tel-list li:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 4px;
  width: 1px;
  height: 20px;
  background-color: #000000;
}
/* line 1331, ../sass/_pages.scss */
.about_block_item_corporate_mail-list {
  margin-bottom: 0px;
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 28px;
}
/* line 1339, ../sass/_pages.scss */
.about_block_item_corporate_mail-list span {
  font-weight: bold;
  font-size: 22px;
}
/* line 1343, ../sass/_pages.scss */
.about_block_item_corporate_mail-list:before {
  content: "";
  background-image: url(../img/header_mail.svg);
  position: absolute;
  width: 20px;
  height: 16px;
  left: 0;
  top: 5px;
}
/* line 1352, ../sass/_pages.scss */
.about_block_item_corporate_mail-list li {
  position: relative;
  padding-right: 11px;
  margin-left: 10px;
}
/* line 1357, ../sass/_pages.scss */
.about_block_item_corporate_mail-list li:last-child::after {
  display: none;
}
/* line 1361, ../sass/_pages.scss */
.about_block_item_corporate_mail-list li:after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 4px;
  width: 1px;
  height: 20px;
  background-color: #000000;
}
/* line 1374, ../sass/_pages.scss */
.about_block_item:last-child {
  margin-bottom: 0px;
}

/* line 1381, ../sass/_pages.scss */
.opacity {
  position: absolute;
  width: 100%;
  height: 25%;
  background: linear-gradient(180deg, #ffffff 10%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
  left: 0;
  top: 0;
}

/* line 1390, ../sass/_pages.scss */
.main_map {
  position: relative;
  width: 100%;
  height: 424px;
  margin: 0;
  padding: 0;
}

/* line 1398, ../sass/_pages.scss */
.footer_wrap {
  width: 100%;
  background-color: #0c4187;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 1404, ../sass/_pages.scss */
.footer_wrap .footer_block {
  height: auto;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
/* line 1413, ../sass/_pages.scss */
.footer_wrap .footer_block_logo {
  margin-right: 94px;
}
/* line 1416, ../sass/_pages.scss */
.footer_wrap .footer_block .home {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #0061e5;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  bottom: calc(100% - 30px);
  left: calc(100% - 30px);
}
/* line 1425, ../sass/_pages.scss */
.footer_wrap .footer_block .home:hover {
  background: #1071f5;
}
/* line 1428, ../sass/_pages.scss */
.footer_wrap .footer_block .home .up_home {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 10px);
  background: url(../img/up_home.svg);
  width: 20px;
  height: 24px;
}
/* line 1438, ../sass/_pages.scss */
.footer_wrap .footer_block_copyrigt span {
  display: block;
  color: #ffffff;
  font-size: 16px;
  position: relative;
}

/* line 3, ../sass/_icon.scss */
.ico.ico_basket {
  background: url(../img/header_basket.svg) no-repeat center;
  background-size: contain;
}

@media screen and (max-width: 1199px) {
  /* line 2, ../sass/_media.scss */
  .navigation_row .account {
    display: none;
  }

  /* line 5, ../sass/_media.scss */
  .navigation_row {
    justify-content: center;
  }

  /* line 8, ../sass/_media.scss */
  .slider {
    margin-bottom: 55px;
  }

  /* line 11, ../sass/_media.scss */
  .slider .slider_item_card {
    width: 960px;
  }

  /* line 14, ../sass/_media.scss */
  .slider .slick-arrow.slick-next {
    transform: translateX(480px);
    right: 50%;
  }

  /* line 18, ../sass/_media.scss */
  .slider .slick-arrow.slick-prev {
    transform: translateX(-480px);
    left: 50%;
  }

  /* line 22, ../sass/_media.scss */
  .catalog_menu_item {
    height: 203px;
  }

  /* line 25, ../sass/_media.scss */
  .catalog .catalog_menu_item_info {
    padding-right: 20px;
    padding-top: 103px;
  }

  /* line 29, ../sass/_media.scss */
  .service_block_info {
    width: 65%;
  }

  /* line 32, ../sass/_media.scss */
  .service_block_banner_img {
    height: 100%;
    background-size: contain;
  }

  /* line 36, ../sass/_media.scss */
  .partners .partners_slider_item {
    height: 284px;
    margin: 35px 10px;
  }

  /* line 40, ../sass/_media.scss */
  .about {
    width: 100%;
    background-image: url(../img/about_img_1024.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* line 46, ../sass/_media.scss */
  .about_block_item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 0px;
  }

  /* line 52, ../sass/_media.scss */
  .about_block_item_about {
    width: 100%;
    padding-right: 30px;
    margin-bottom: 24px;
  }

  /* line 57, ../sass/_media.scss */
  .about_block_item_advantages {
    width: 100%;
    margin-bottom: 31px;
  }

  /* line 61, ../sass/_media.scss */
  .about_block_item_advantages .advantages_list {
    padding-right: 249px;
    margin-bottom: 54px;
  }

  /* line 65, ../sass/_media.scss */
  .about_block_item_retail {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 18px;
  }

  /* line 70, ../sass/_media.scss */
  .footer_wrap .footer_block_copyrigt span {
    padding-right: 200px;
  }
}
@media screen and (max-width: 991px) {
  /* line 75, ../sass/_media.scss */
  .navigation_row {
    justify-content: space-between;
  }

  /* line 78, ../sass/_media.scss */
  .nav {
    flex-wrap: nowrap;
  }

  /* line 81, ../sass/_media.scss */
  .navigation_row .nav li {
    font-size: 14px;
  }
  /* line 83, ../sass/_media.scss */
  .navigation_row .nav li:last-child {
    margin-right: 0;
  }

  /* line 87, ../sass/_media.scss */
  .navigation_row .nav li a {
    text-align: justify;
    white-space: nowrap;
  }

  /* line 92, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list {
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  /* line 96, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list:before {
    display: none;
  }

  /* line 100, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list li {
    padding-left: 28px;
    margin-bottom: 10px;
  }
  /* line 103, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list li:before {
    content: "";
    background-image: url(../img/header_phone.svg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: calc(50% - 9px);
  }
  /* line 112, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list li:last-child {
    margin-bottom: 0px;
  }

  /* line 116, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
    display: none;
  }

  /* line 119, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup {
    margin-left: 20px;
  }

  /* line 122, ../sass/_media.scss */
  .header_contacts_item_adress {
    display: none;
  }

  /* line 125, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list {
    flex-direction: column;
    padding-left: 0px;
    margin-right: 0px;
  }

  /* line 130, ../sass/_media.scss */
  .header_contacts_basket {
    padding-left: 15px;
  }

  /* line 133, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list:before {
    display: none;
  }

  /* line 136, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list li {
    position: relative;
  }
  /* line 138, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list li:first-child {
    padding-left: 38px;
    margin-bottom: 10px;
  }
  /* line 142, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list li:first-child:before {
    content: "";
    background-image: url(../img/header_mail.svg);
    position: absolute;
    width: 20px;
    height: 16px;
    left: 0;
    top: 7px;
  }
  /* line 151, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list li .mobile_dropdown {
    display: block;
  }

  /* line 155, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown {
    display: block;
  }

  /* line 158, ../sass/_media.scss */
  .slider .slider_item_card {
    width: 690px;
    height: 280px;
  }

  /* line 162, ../sass/_media.scss */
  .slider .slick-arrow.slick-next {
    transform: translateX(345px);
    right: 50%;
  }

  /* line 166, ../sass/_media.scss */
  .slider .slick-arrow.slick-prev {
    transform: translateX(-345px);
    left: 50%;
  }

  /* line 170, ../sass/_media.scss */
  .slider .slider_item_card_info {
    padding-left: 60px;
    padding-right: 75px;
  }

  /* line 174, ../sass/_media.scss */
  .slider .slider_item_card_info h2 {
    font-size: 30px;
    line-height: 35px;
    padding-top: 45px;
    margin-bottom: 10px;
  }

  /* line 180, ../sass/_media.scss */
  .slider .slider_item_card_info p {
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  /* line 186, ../sass/_media.scss */
  .slider .slider_item.slick-active .slider_item_card_effect .cross_3 {
    width: 15px;
    height: 15px;
  }
  /* line 190, ../sass/_media.scss */
  .slider .slider_item.slick-active .slider_item_card_effect .cross_4 {
    width: 15px;
    height: 15px;
  }
  /* line 194, ../sass/_media.scss */
  .slider .slider_item.slick-active .slider_item_card_effect .cross_5 {
    width: 15px;
    height: 15px;
  }

  /* line 199, ../sass/_media.scss */
  .slider .slider_item.slick-active .slider_item_card_effect_ring {
    width: 315px;
    height: 315px;
  }

  /* line 203, ../sass/_media.scss */
  .catalog_title {
    font-size: 24px;
    line-height: 33px;
  }

  /* line 207, ../sass/_media.scss */
  .catalog .catalog_menu_item {
    width: calc(100% / 2 - 30px);
    height: 203px;
  }

  /* line 211, ../sass/_media.scss */
  .catalog .catalog_menu_item_info {
    padding-right: 74px;
    padding-top: 76px;
  }

  /* line 215, ../sass/_media.scss */
  .service {
    margin-bottom: 80px;
    padding-top: 35px;
  }

  /* line 219, ../sass/_media.scss */
  .service_block {
    flex-direction: column-reverse;
    height: auto;
    padding-bottom: 30px;
    justify-content: flex-end;
  }

  /* line 225, ../sass/_media.scss */
  .service_block_info {
    width: 100%;
    padding-right: 0;
  }

  /* line 229, ../sass/_media.scss */
  .service_block_info h2 {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* line 234, ../sass/_media.scss */
  .service_block_info p {
    margin-bottom: 28px;
    padding: 0;
  }

  /* line 238, ../sass/_media.scss */
  .service_block_banner {
    height: auto;
  }

  /* line 241, ../sass/_media.scss */
  .service_block_banner_img {
    height: auto;
    width: 100%;
    background-size: contain;
  }

  /* line 246, ../sass/_media.scss */
  .service.active .service_block_banner_effect_ring {
    width: 415x;
    height: 415px;
  }

  /* line 250, ../sass/_media.scss */
  .about_block_item_advantages .advantages_list {
    padding-right: 30px;
    margin-bottom: 40px;
  }

  /* line 254, ../sass/_media.scss */
  .about_block_item_corporate {
    width: 100%;
  }

  /* line 257, ../sass/_media.scss */
  .footer_wrap .footer_block_copyrigt span {
    padding-right: 68px;
  }
}
@media screen and (max-width: 767px) {
  /* line 262, ../sass/_media.scss */
  .navigation_row {
    flex-direction: column;
  }

  /* line 265, ../sass/_media.scss */
  .navigation_row .nav li {
    margin-right: 0px;
  }

  /* line 268, ../sass/_media.scss */
  .navigation_row .nav li a {
    padding: 0 9px;
  }

  /* line 271, ../sass/_media.scss */
  .header_contacts {
    padding: 25px 0 25px 0;
  }

  /* line 275, ../sass/_media.scss */
  .header_contacts_item img {
    width: 212px;
    height: 54px;
  }

  /* line 280, ../sass/_media.scss */
  .header_contacts_item_links_telgroup {
    display: none;
  }

  /* line 283, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list li:first-child {
    display: none;
  }

  /* line 286, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list a {
    font-size: 16px;
  }

  /* line 289, ../sass/_media.scss */
  .header_contacts_item_links_telgroup .header_contacts_tel-list {
    margin-bottom: 10px;
  }

  /* line 292, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup {
    margin-left: 10px;
  }

  /* line 295, ../sass/_media.scss */
  .header_contacts_basket {
    display: none;
  }

  /* line 298, ../sass/_media.scss */
  .slider .slider_item_card {
    width: 540px;
  }

  /* line 301, ../sass/_media.scss */
  .slider .slider_item_card_info {
    padding-right: 36px;
  }

  /* line 304, ../sass/_media.scss */
  .slider .slick-arrow.slick-next {
    transform: translateX(275px);
    right: 50%;
    display: none;
  }

  /* line 309, ../sass/_media.scss */
  .slider .slick-arrow.slick-prev {
    transform: translateX(-275px);
    left: 50%;
    display: none;
  }

  /* line 314, ../sass/_media.scss */
  .catalog .catalog_menu_item_info {
    padding-right: 6px;
    padding-top: 46px;
  }

  /* line 318, ../sass/_media.scss */
  .catalog .catalog_menu_item_effect .cross_4 {
    width: 15px;
    height: 15px;
  }

  /* line 322, ../sass/_media.scss */
  .service_block {
    padding-top: 20px;
  }

  /* line 325, ../sass/_media.scss */
  .service.active .service_block_banner_effect_ring {
    width: 215px;
    height: 215px;
  }

  /* line 329, ../sass/_media.scss */
  .service_block_info h2 {
    padding: 0px 0px 20px 0px;
  }

  /* line 332, ../sass/_media.scss */
  .service_block_info p {
    margin-bottom: 28px;
    padding: 0px 138px 0 0;
  }

  /* line 336, ../sass/_media.scss */
  .footer_wrap .footer_block_copyrigt span {
    padding-right: 47px;
  }

  /* line 339, ../sass/_media.scss */
  .footer_wrap .footer_block .home {
    left: calc(100% - 70px);
  }

  /* line 342, ../sass/_media.scss */
  .footer_wrap .footer_block {
    flex-direction: column;
    padding: 15px 0 15px 0;
  }

  /* line 346, ../sass/_media.scss */
  .footer_wrap .footer_block_logo {
    margin: 0px 0px 15px 0px;
  }

  /* line 349, ../sass/_media.scss */
  .footer_wrap .footer_block_copyrigt span {
    padding: 0 115px;
    font-size: 12px;
    display: block;
    text-align: center;
  }

  /* line 356, ../sass/_media.scss */
  .nav {
    display: none;
  }

  /* line 359, ../sass/_media.scss */
  .navigation_burger {
    display: block;
  }

  /* line 362, ../sass/_media.scss */
  .burger_menu {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: #ebf3f8;
    z-index: 2;
    padding: 25px 35px;
    border-radius: 0 0 15px 15px;
    box-shadow: 4px 4px 10px rgba(18, 32, 52, 0.3);
  }
  /* line 374, ../sass/_media.scss */
  .burger_menu.active {
    display: block;
  }
  /* line 377, ../sass/_media.scss */
  .burger_menu_list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
  }
  /* line 386, ../sass/_media.scss */
  .burger_menu_list li {
    width: 50%;
    height: 30px;
    color: #122034;
  }
  /* line 390, ../sass/_media.scss */
  .burger_menu_list li a {
    line-height: 30px;
    text-decoration: none;
    padding-bottom: 3px;
    color: #122034;
  }
  /* line 395, ../sass/_media.scss */
  .burger_menu_list li a:hover {
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid #005ed5;
    color: #122034;
  }

  /* line 405, ../sass/_media.scss */
  .mobil_basket {
    display: block;
  }
  /* line 407, ../sass/_media.scss */
  .mobil_basket .header_contacts_basket_companents {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  /* line 413, ../sass/_media.scss */
  .mobil_basket .header_contacts_basket_companents .counter {
    margin-bottom: 0;
    margin-right: 5px;
  }

  /* line 419, ../sass/_media.scss */
  .navigation_row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  /* line 425, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel {
    display: block;
    margin-bottom: 10px;
  }

  /* line 429, ../sass/_media.scss */
  .catalog {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 574px) {
  /* line 434, ../sass/_media.scss */
  .burger_menu {
    padding-right: 30px;
  }

  /* line 437, ../sass/_media.scss */
  .burger_menu_list {
    margin-bottom: 26px;
    border-bottom: 1px solid #ffffff;
  }

  /* line 441, ../sass/_media.scss */
  .burger_menu_list li {
    width: 100%;
    margin-bottom: 15px;
  }

  /* line 445, ../sass/_media.scss */
  .burger_menu_tel-list {
    display: block;
    padding: 0px;
  }

  /* line 449, ../sass/_media.scss */
  .burger_menu_tel-list li {
    list-style: none;
    margin-bottom: 10px;
  }

  /* line 453, ../sass/_media.scss */
  .burger_menu_tel-list li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #122034;
    padding-left: 28px;
  }
  /* line 463, ../sass/_media.scss */
  .burger_menu_tel-list li a span {
    font-weight: 700;
  }
  /* line 466, ../sass/_media.scss */
  .burger_menu_tel-list li a::before {
    content: "";
    background-image: url(../img/header_phone.svg);
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 0px;
  }
  /* line 475, ../sass/_media.scss */
  .burger_menu_tel-list li a:hover {
    opacity: 0.6;
  }

  /* line 479, ../sass/_media.scss */
  .burger_menu_mail-list {
    display: block;
    padding: 0;
  }

  /* line 483, ../sass/_media.scss */
  .burger_menu_mail-list li {
    list-style: none;
    margin-bottom: 27px;
  }

  /* line 487, ../sass/_media.scss */
  .burger_menu_mail-list li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #122034;
    padding-left: 24px;
  }
  /* line 497, ../sass/_media.scss */
  .burger_menu_mail-list li a::before {
    content: "";
    background-image: url(../img/moble_header_mail.svg);
    position: absolute;
    width: 18px;
    height: 14px;
    left: 0;
    top: 4px;
  }
  /* line 506, ../sass/_media.scss */
  .burger_menu_mail-list li a:hover {
    opacity: 0.6;
  }

  /* line 510, ../sass/_media.scss */
  .burger_menu_adress-list {
    display: block;
    padding: 0;
  }

  /* line 514, ../sass/_media.scss */
  .burger_menu_adress-list li {
    list-style: none;
    margin-bottom: 10px;
  }

  /* line 518, ../sass/_media.scss */
  .burger_menu_adress-list li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #122034;
    padding-left: 24px;
  }
  /* line 528, ../sass/_media.scss */
  .burger_menu_adress-list li a::before {
    content: "";
    background-image: url(../img/map_point.svg);
    position: absolute;
    width: 10px;
    height: 14px;
    left: 0;
    top: 4px;
  }
  /* line 537, ../sass/_media.scss */
  .burger_menu_adress-list li a:hover {
    opacity: 0.6;
  }

  /* line 542, ../sass/_media.scss */
  .mobile_subtitle {
    display: block;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 18px;
    color: rgba(18, 32, 52, 0.6);
  }

  /* line 549, ../sass/_media.scss */
  .header_contacts_item_links_mailgroup .header_contacts_mail-list {
    display: none;
  }

  /* line 552, ../sass/_media.scss */
  .header_contacts {
    display: none;
    justify-content: center;
    padding: 40px 0 0px 0;
  }

  /* line 557, ../sass/_media.scss */
  .slider {
    display: none;
  }

  /* line 560, ../sass/_media.scss */
  .catalog_title {
    display: none;
  }

  /* line 563, ../sass/_media.scss */
  .catalog .catalog_menu_item {
    width: calc(100% / 1 - 30px);
    height: 203px;
    margin: 10px 15px;
  }

  /* line 568, ../sass/_media.scss */
  .service_block_info p {
    padding-right: 0;
  }

  /* line 571, ../sass/_media.scss */
  .partners {
    display: none;
  }

  /* line 574, ../sass/_media.scss */
  .about_block {
    padding-top: 40px;
  }

  /* line 577, ../sass/_media.scss */
  .about_block_item_about h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  /* line 581, ../sass/_media.scss */
  .about_block_item_corporate_tel-list {
    flex-wrap: wrap;
  }

  /* line 584, ../sass/_media.scss */
  .about_block_item_corporate_mail-list {
    flex-wrap: wrap;
  }

  /* line 587, ../sass/_media.scss */
  .about_block_item_retail h3 {
    font-size: 20px;
  }

  /* line 590, ../sass/_media.scss */
  .about_block_item_retail a {
    font-size: 16px;
  }

  /* line 593, ../sass/_media.scss */
  .about_block_item_retail_tel span {
    font-size: 20px;
  }

  /* line 596, ../sass/_media.scss */
  .about_block_item_corporate h3 {
    font-size: 20px;
  }

  /* line 599, ../sass/_media.scss */
  .about_block_item_corporate a {
    font-size: 16px;
  }

  /* line 602, ../sass/_media.scss */
  .about_block_item_corporate_tel-list span {
    font-size: 20px;
  }

  /* line 605, ../sass/_media.scss */
  .service {
    margin-bottom: 0;
  }

  /* line 608, ../sass/_media.scss */
  .service_block_info h2 {
    font-size: 30px;
    padding: 0;
    margin-top: 20px;
  }

  /* line 613, ../sass/_media.scss */
  .about {
    margin-top: 0;
  }

  /* line 616, ../sass/_media.scss */
  .footer_wrap .footer_block_copyrigt span {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 620, ../sass/_media.scss */
  .navigation {
    position: fixed;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 50;
    top: 0;
    left: 0;
  }

  /* line 630, ../sass/_media.scss */
  .mobil_logo {
    display: block;
  }

  /* line 633, ../sass/_media.scss */
  .catalog {
    margin-top: 100px;
  }
}
/* line 7, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
