@media screen and (max-width: 1199px) {
    .navigation_row .account {
        display: none;
    }
    .navigation_row {
        justify-content: center;
    }
    .slider {
        margin-bottom: 55px;
    }
    .slider .slider_item_card {
        width: 960px;
    }
    .slider .slick-arrow.slick-next {
        transform: translateX(480px);
        right: 50%;
    }
    .slider .slick-arrow.slick-prev {
        transform: translateX(-480px);
        left: 50%;
    }
    .catalog_menu_item {
        height: 203px;
    }
    .catalog .catalog_menu_item_info {
        padding-right: 20px;
        padding-top: 103px;
    }
    .service_block_info {
        width: 65%;
    }
    .service_block_banner_img {
        height: 100%;
        background-size: contain;
    }
    .partners .partners_slider_item {
        height: 284px;
        margin: 35px 10px;
    }
    .about {
        width: 100%;
        background-image: url(../img/about_img_1024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about_block_item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .about_block_item_about {
        width: 100%;
        padding-right: 30px;
        margin-bottom: 24px;
    }
    .about_block_item_advantages {
        width: 100%;
        margin-bottom: 31px;
    }
    .about_block_item_advantages .advantages_list {
        padding-right: 249px;
        margin-bottom: 54px;
    }
    .about_block_item_retail {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 18px;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-right: 200px;
    }
}
@media screen and (max-width: 991px) {
    .navigation_row {
        justify-content: space-between;
    }
    .nav {
        flex-wrap: nowrap;
    }
    .navigation_row .nav li {
        font-size: 14px;
        &:last-child {
            margin-right: 0;
        }
    }
    .navigation_row .nav li a {
        text-align: justify;
        white-space: nowrap;
    }
    
    .header_contacts_item_links_telgroup .header_contacts_tel-list {
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0px;
        &:before {
            display: none;
        }
    }
    .header_contacts_item_links_telgroup .header_contacts_tel-list li {
        padding-left: 28px;
        margin-bottom: 10px;
        &:before {
            content: "";
            background-image: url(../img/header_phone.svg);
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
            top: calc(50% - 9px);
        }
    }
    .header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
        display: none;
    }
    .slider .slider_item_card {
        width: 690px;
        height: 280px;
    }
    .slider .slick-arrow.slick-next {
        transform: translateX(345px);
        right: 50%;
    }
    .slider .slick-arrow.slick-prev {
        transform: translateX(-345px);
        left: 50%;
    }
    .slider .slider_item_card_info {
        padding-left: 60px;
        padding-right: 75px;
    }
    .slider .slider_item_card_info h2 {
        font-size: 30px;
        line-height: 35px;
        padding-top: 45px;
        margin-bottom: 10px;
    }
    .slider .slider_item_card_info p {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .catalog_title {
        font-size: 24px;
        line-height: 33px;
    }
    .catalog .catalog_menu_item {
        width: calc(100% / 2 - 30px);
        height: 203px;
    }
    .catalog .catalog_menu_item_info {
        padding-right: 74px;
        padding-top: 76px;
    }
    .service_block {
        flex-direction: column-reverse;
        height: 750px;
    }
    .service_block_info {
        width: 100%;
        padding-right: 0;
    }
    .service_block_banner {
        height: 40%;
    }
    .service_block_banner_img {
        height: 100%;
        background-size: contain;
    }
    .about_block_item_advantages .advantages_list {
        padding-right: 30px;
        margin-bottom: 40px;
    }.about_block_item_corporate {
        width: 100%;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-right: 68px;
    }
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 574px) {
}
@media screen and (max-width: 360px) {
}
