@media screen and (max-width: 1199px) {
    .navigation_row .account {
        display: none;
    }
    .navigation_row {
        justify-content: center;
    }
    .slider {
        margin-bottom: 55px;
    }
    .slider .slider_item_card {
        width: 960px;
    }
    .slider .slick-arrow.slick-next {
        transform: translateX(480px);
        right: 50%;
    }
    .slider .slick-arrow.slick-prev {
        transform: translateX(-480px);
        left: 50%;
    }
    .catalog_menu_item {
        height: 203px;
    }
    .catalog .catalog_menu_item_info {
        padding-right: 20px;
        padding-top: 103px;
    }
    .service_block_info {
        width: 65%;
    }
    .service_block_banner_img {
        height: 100%;
        background-size: contain;
    }
    .partners .partners_slider_item {
        height: 284px;
        margin: 35px 10px;
    }
    .about {
        width: 100%;
        background-image: url(../img/about_img_1024.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .about_block_item {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .about_block_item_about {
        width: 100%;
        padding-right: 30px;
        margin-bottom: 24px;
    }
    .about_block_item_advantages {
        width: 100%;
        margin-bottom: 31px;
    }
    .about_block_item_advantages .advantages_list {
        padding-right: 249px;
        margin-bottom: 54px;
    }
    .about_block_item_retail {
        width: 100%;
        padding-right: 0px;
        margin-bottom: 18px;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-right: 200px;
    }
}
@media screen and (max-width: 991px) {
    .navigation_row {
        justify-content: space-between;
    }
    .nav {
        flex-wrap: nowrap;
    }
    .navigation_row .nav li {
        font-size: 14px;
        &:last-child {
            margin-right: 0;
        }
    }
    .navigation_row .nav li a {
        text-align: justify;
        white-space: nowrap;
    }

    .header_contacts_item_links_telgroup .header_contacts_tel-list {
        flex-direction: column;
        padding-left: 0px;
        margin-bottom: 0px;
        &:before {
            display: none;
        }
    }
    .header_contacts_item_links_telgroup .header_contacts_tel-list li {
        padding-left: 28px;
        margin-bottom: 10px;
        &:before {
            content: "";
            background-image: url(../img/header_phone.svg);
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
            top: calc(50% - 9px);
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    .header_contacts_item_links_telgroup .header_contacts_tel-list li:after {
        display: none;
    }
    .header_contacts_item_links_mailgroup {
        margin-left: 20px;
    }
    .header_contacts_item_adress {
        display: none;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list {
        flex-direction: column;
        padding-left: 0px;
        margin-right: 0px;
    }
    .header_contacts_basket {
        padding-left: 15px;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list:before {
        display: none;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list li {
        position: relative;
        &:first-child {
            padding-left: 38px;
            margin-bottom: 10px;
        }
        &:first-child:before {
            content: "";
            background-image: url(../img/header_mail.svg);
            position: absolute;
            width: 20px;
            height: 16px;
            left: 0;
            top: 7px;
        }
        .mobile_dropdown {
            display: block;
        }
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown {
        display: block;
    }
    .slider .slider_item_card {
        width: 690px;
        height: 280px;
    }
    .slider .slick-arrow.slick-next {
        transform: translateX(345px);
        right: 50%;
    }
    .slider .slick-arrow.slick-prev {
        transform: translateX(-345px);
        left: 50%;
    }
    .slider .slider_item_card_info {
        padding-left: 60px;
        padding-right: 75px;
    }
    .slider .slider_item_card_info h2 {
        font-size: 30px;
        line-height: 35px;
        padding-top: 45px;
        margin-bottom: 10px;
    }
    .slider .slider_item_card_info p {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .slider .slider_item.slick-active .slider_item_card_effect .cross {
        &_3 {
            width: 15px;
            height: 15px;
        }
        &_4 {
            width: 15px;
            height: 15px;
        }
        &_5 {
            width: 15px;
            height: 15px;
        }
    }
    .slider .slider_item.slick-active .slider_item_card_effect_ring {
        width: 315px;
        height: 315px;
    }
    .catalog_title {
        font-size: 24px;
        line-height: 33px;
    }
    .catalog .catalog_menu_item {
        width: calc(100% / 2 - 30px);
        height: 203px;
    }
    .catalog .catalog_menu_item_info {
        padding-right: 74px;
        padding-top: 76px;
    }
    .service {
        margin-bottom: 80px;
        padding-top: 35px;
    }
    .service_block {
        flex-direction: column-reverse;
        height: auto;
        padding-bottom: 30px;
        justify-content: flex-end;
    }
    .service_block_info {
        width: 100%;
        padding-right: 0;
    }
    .service_block_info h2 {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .service_block_info p {
        margin-bottom: 28px;
        padding: 0;
    }
    .service_block_banner {
        height: auto;
    }
    .service_block_banner_img {
        height: auto;
        width: 100%;
        background-size: contain;
    }
    .service.active .service_block_banner_effect_ring {
        width: 415x;
        height: 415px;
    }
    .about_block_item_advantages .advantages_list {
        padding-right: 30px;
        margin-bottom: 40px;
    }
    .about_block_item_corporate {
        width: 100%;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-right: 68px;
    }
}
@media screen and (max-width: 767px) {
    .navigation_row {
        flex-direction: column;
    }
    .navigation_row .nav li {
        margin-right: 0px;
    }
    .navigation_row .nav li a {
        padding: 0 9px;
    }
    .header_contacts {
        padding: 25px 0 25px 0;
    }
    .header_contacts_item {
        img {
            width: 212px;
            height: 54px;
        }
    }
    .header_contacts_item_links_telgroup {
        display: none;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list li:first-child {
        display: none;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list a {
        font-size: 16px;
    }
    .header_contacts_item_links_telgroup .header_contacts_tel-list {
        margin-bottom: 10px;
    }
    .header_contacts_item_links_mailgroup {
        margin-left: 10px;
    }
    .header_contacts_basket {
        display: none;
    }
    .slider .slider_item_card {
        width: 540px;
    }
    .slider .slider_item_card_info {
        padding-right: 36px;
    }
    .slider .slick-arrow.slick-next {
        transform: translateX(275px);
        right: 50%;
        display: none;
    }
    .slider .slick-arrow.slick-prev {
        transform: translateX(-275px);
        left: 50%;
        display: none;
    }
    .catalog .catalog_menu_item_info {
        padding-right: 6px;
        padding-top: 46px;
    }
    .catalog .catalog_menu_item_effect .cross_4 {
        width: 15px;
        height: 15px;
    }
    .service_block {
        padding-top: 20px;
    }
    .service.active .service_block_banner_effect_ring {
        width: 215px;
        height: 215px;
    }
    .service_block_info h2 {
        padding: 0px 0px 20px 0px;
    }
    .service_block_info p {
        margin-bottom: 28px;
        padding: 0px 138px 0 0;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-right: 47px;
    }
    .footer_wrap .footer_block .home {
        left: calc(100% - 70px);
    }
    .footer_wrap .footer_block {
        flex-direction: column;
        padding: 15px 0 15px 0;
    }
    .footer_wrap .footer_block_logo {
        margin: 0px 0px 15px 0px;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding: 0 115px;
        font-size: 12px;
        display: block;
        text-align: center;
    }

    .nav {
        display: none;
    }
    .navigation_burger {
        display: block;
    }
    .burger_menu {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background-color: #ebf3f8;
        z-index: 2;
        padding: 25px 35px;

        border-radius: 0 0 15px 15px;
        box-shadow: 4px 4px 10px rgba(18, 32, 52, 0.3);
        &.active {
            display: block;
        }
        &_list {
            padding: 0;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0;
            li {
                width: 50%;
                height: 30px;
                color: $color_text_hed_nav;
                a {
                    line-height: 30px;
                    text-decoration: none;
                    padding-bottom: 3px;
                    color: $color_text_hed_nav;
                    &:hover {
                        font-weight: 600;
                        text-decoration: none;
                        border-bottom: 3px solid $color_bt;
                        color: $color_text_hed_nav;
                    }
                }
            }
        }
    }
    .mobil_basket {
        display: block;
        .header_contacts_basket_companents {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: nowrap;
            justify-content: flex-start;
            .counter {
                margin-bottom: 0;
                margin-right: 5px;
            }
        }
    }
    .navigation_row {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list .mobile_dropdown_tel {
        display: block;
        margin-bottom: 10px;
    }
    .catalog {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 574px) {
    .burger_menu {
        padding-right: 30px;
    }
    .burger_menu_list {
        margin-bottom: 26px;
        border-bottom: 1px solid #ffffff;
    }
    .burger_menu_list li {
        width: 100%;
        margin-bottom: 15px;
    }
    .burger_menu_tel-list {
        display: block;
        padding: 0px;
    }
    .burger_menu_tel-list li {
        list-style: none;
        margin-bottom: 10px;
    }
    .burger_menu_tel-list li a {
        display: block;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #122034;
        padding-left: 28px;
        span {
            font-weight: 700;
        }
        &::before {
            content: "";
            background-image: url(../img/header_phone.svg);
            position: absolute;
            width: 18px;
            height: 18px;
            left: 0;
            top: 0px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .burger_menu_mail-list {
        display: block;
        padding: 0;
    }
    .burger_menu_mail-list li{
        list-style: none;
        margin-bottom: 27px;
    }
    .burger_menu_mail-list li a {
        display: block;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #122034;
        padding-left: 24px;
        &::before {
            content: "";
            background-image: url(../img/moble_header_mail.svg);
            position: absolute;
            width: 18px;
            height: 14px;
            left: 0;
            top: 4px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    .burger_menu_adress-list {
        display: block;
        padding: 0;
    }
    .burger_menu_adress-list li{
        list-style: none;
        margin-bottom: 10px;
    }
    .burger_menu_adress-list li a {
        display: block;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #122034;
        padding-left: 24px;
        &::before {
            content: "";
            background-image: url(../img/map_point.svg);
            position: absolute;
            width: 10px;
            height: 14px;
            left: 0;
            top: 4px;
        }
        &:hover {
            opacity: 0.6;
        }
    }

    .mobile_subtitle {
        display: block;
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 18px;
        color: rgba(18, 32, 52, 0.6);
    }
    .header_contacts_item_links_mailgroup .header_contacts_mail-list {
        display: none;
    }
    .header_contacts {
        display: none;
        justify-content: center;
        padding: 40px 0 0px 0;
    }
    .slider {
        display: none;
    }
    .catalog_title {
        display: none;
    }
    .catalog .catalog_menu_item {
        width: calc(100% / 1 - 30px);
        height: 203px;
        margin: 10px 15px
    }
    .service_block_info p {
        padding-right: 0;
    }
    .partners {
        display: none;
    }
    .about_block {
        padding-top: 40px;
    }
    .about_block_item_about h2{
        font-size: 30px;
        margin-bottom: 25px;
    }
    .about_block_item_corporate_tel-list {
        flex-wrap: wrap;
    }
    .about_block_item_corporate_mail-list {
        flex-wrap: wrap;
    }
    .about_block_item_retail h3{
        font-size: 20px;
    }
    .about_block_item_retail a{
        font-size: 16px;
    }
    .about_block_item_retail_tel span{
        font-size: 20px;
    }
    .about_block_item_corporate h3{
        font-size: 20px;
    }
    .about_block_item_corporate a{
        font-size: 16px;
    }
    .about_block_item_corporate_tel-list span{
        font-size: 20px;
    }
    .service {
        margin-bottom: 0;
    }
    .service_block_info h2{
        font-size: 30px;
        padding: 0;
        margin-top: 20px;
    }
    .about {
        margin-top: 0;
    }
    .footer_wrap .footer_block_copyrigt span {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navigation {
        position: fixed;
        width: 100%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        z-index: 50;
        top: 0;
        left: 0;
    }
    .mobil_logo{
        display: block;
    }
    .catalog{
        margin-top:100px ;
    }
}
@media screen and (max-width: 360px) {
}
