$color_1: #ebf3f8;
$color_text_hed_nav: #122034;

$color_h: #113566;
$color_text1: rgba(18, 32, 52, 0.6);
$color_text2: #000000;
$color_text_cat: #ffffff;

$color_bt: #005ed5;
$color_bt_hov: #1076f9;
$color_text_bt: #ffffff;

$color_footer: #0c4187;
$color_text_footer: #ffffff;

%link_more {
    border: 1px solid $color_bt;
    border-radius: 50px;
    background-color: $color_bt;
    text-decoration: none;
    color: $color_text_bt;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0;
}

// ===============Навигация (Верхняя часть)===============
.header_nav {
    background-color: $color_1;
}
.header_nav_row {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav li {
    font-size: 16px;
    margin-right: 30px;
    height: 50px;
    vertical-align: middle;
    border-bottom: 3px solid transparent;
}
.nav li a {
    padding: 0 10px;
    color: $color_text_hed_nav;
    text-decoration: none;
    height: 47px;
    line-height: 47px;
    vertical-align: middle;
    display: inline-block;
}
.nav li:not(.home_ico) a:hover {
    color: $color_text_hed_nav;
    text-decoration: none;
    transform: scale(1.1);
}
.nav li:not(.home_ico) :hover {
    border-bottom: 3px solid $color_bt;
}
.account {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
// ===============Навигация (Нижняя часть)===============
.header_conacts_block {
    min-height: 222px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    p {
        display: block;
    }
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}
.header_conacts_wrap {
    font-size: 16px;
    color: $color_text2;
    .color_rgba {
        font-size: 13px;
        color: $color_text1;
    }
    a {
        color: #122034;
        font-size: 18px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .header_phone {
        padding-right: 20px;
    }
    .header_mail {
        padding: 0px 15px 0px 40px;
    }
    span {
        font-weight: bold;
        font-size: large;
    }
    .header_vertical {
        font-weight: normal;
        font-size: 16px;
        padding: 0px 10px 0px 10px;
    }
    .header_point {
        padding: 0px 10px 0px 20px;
    }
}
// =======================Слайдер=============
.slider {
    min-width: 0;
    position: relative;
    margin-bottom: 145px;
    padding-bottom: 10px;
    padding-top: 10px;
    .slider_item {
        min-width: 0;
        text-align: center;
        margin: 30px 25px;
        &_card {
            width: 1110px;
            height: 450px;
            position: relative;
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
            overflow: hidden;
            &_info {
                text-align: start;
                display: block;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
                top: 0px;
                background: linear-gradient(73deg, #0c4187 58%, rgba(12, 65, 135, 0) 70%,rgba(12, 65, 135, 0) 71%,rgba(0,0,0,0) 72%,rgba(0,0,0,0) 72%);
                padding-left: 93px;
                padding-right: 139px;
                color: $color_text_bt;
                text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
                h2 {
                    font-size: 36px;
                    line-height: 49px;
                    padding-top: 137px;
                    margin-bottom: 0;
                }
                p {
                    padding-top: 20px;
                    padding-bottom: 40px;
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
                a {
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: 164px;
                    height: 45px;
                    &:hover {
                        text-decoration: none;
                        background-color: $color_bt_hov;
                    }
                    @extend %link_more;
                }
            }
            &_bg{
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
            &_effect{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top:0;
            }
        }
    }
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 10;
        font-size: 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
        width: 30px;
        height: 70px;
        background-position: center;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 0;
        background-image: url(../img/left.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_left.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: 0;
        background-image: url(../img/right.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_right.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 100%);
        margin-bottom: 0;
        padding: 0;
    }
    .slick-dots li {
        list-style: none;
    }
    .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .slick-dots li.slick-active button {
        background-color: #005de1;
        border: 1px solid #005de1;
    }
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    /* Для адаптива размера слайдов в JS */
    align-items: flex-start;
}

// =======================Сервис=============
.service_block {
    background-color: $color_1;
    .serv_col {
        padding-left: 390px;
        padding-right: 40px;
    }
    h2 {
        padding: 51px 0px 28px 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 54px;
        color: $color_h;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: $color_text1;
        padding-bottom: 48px;
    }
    .service_link {
        display: inline-block;
        width: 164px;
        height: 45px;
        &:hover {
            text-decoration: none;
            background-color: $color_bt_hov;
        }
        @extend %link_more;
    }
    .service_banner {
        width: 100%;
    }
}
// =======================Подвал===================
.footer_container {
    width: 100%;
    height: 128px;
    background-color: $color_footer;
}
.footer {
    margin-left: 96px;
    color: $color_text_footer;
    font-size: 16px;
}
