$color_1: #ebf3f8;
$color_text_hed_nav: #122034;

$color_h: #113566;
$color_text1: rgba(18, 32, 52, 0.6);
$color_text2: #000000;
$color_text_cat: #ffffff;

$color_bt: #005ed5;
$color_bt_hov: #1076f9;
$color_text_bt: #ffffff;

$color_footer: #0c4187;
$color_text_footer: #ffffff;

%link_more {
    border: 1px solid $color_bt;
    border-radius: 50px;
    background-color: $color_bt;
    text-decoration: none;
    color: $color_text_bt;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0;
}

// ===============Навигация (Верхняя часть)===============
.navigation {
    background-color: $color_1;
    &_row {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav li {
            font-size: 16px;
            margin-right: 30px;
            height: 50px;
            vertical-align: middle;
            border-bottom: 3px solid transparent;
        }
        .nav li a {
            padding: 0 10px;
            color: $color_text_hed_nav;
            text-decoration: none;
            height: 47px;
            line-height: 47px;
            vertical-align: middle;
            display: inline-block;
        }
        .nav li:not(.home_ico) a:hover {
            color: $color_text_hed_nav;
            text-decoration: none;
            transform: scale(1.1);
        }
        .nav li:not(.home_ico) :hover {
            border-bottom: 3px solid $color_bt;
        }
        .account {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// ===============Навигация (Нижняя часть)===============
.header_contacts {
    padding: 55px 0 25px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &_item {
        &_links {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            &_telgroup {
                .header_contacts_tel-list {
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 28px;
                    &:before {
                        content: "";
                        background-image: url(../img/header_phone.svg);
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        left: 0;
                        top: calc(50% - 9px);
                    }
                    li {
                        position: relative;
                        padding-right: 11px;
                        margin-left: 10px;
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            right: 0;
                            top: calc(50% - 8px);
                            width: 1px;
                            height: 16px;
                            background-color: $color_text2;
                        }
                    }
                }
                a {
                    display: inline-block;
                    font-size: 16px;
                    color: $color_text2;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                    span {
                        font-weight: bold;
                        font-size: large;
                    }
                }
            }
            &_mailgroup {
                margin-left: 30px;
                .header_contacts_mail-list {
                    margin-bottom: 0;
                    padding-left: 35px;
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    &:before {
                        content: "";
                        background-image: url(../img/header_mail.svg);
                        position: absolute;
                        width: 20px;
                        height: 16px;
                        left: 0;
                        top: calc(50% - 8px);
                    }
                    a {
                        font-size: 18px;
                        color: #122034;
                        display: block;
                        &:hover {
                            text-decoration: none;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
        &_adress {
            font-size: 13px;
            color: $color_text1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &-list {
                position: relative;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                flex-wrap: nowrap;
                margin-bottom: 0;
                padding-left: 0px;
                li {
                    margin-left: 20px;
                    padding-left: 24px;
                    position: relative;
                    display: block;
                    &:before {
                        content: "";
                        background-image: url(../img/map_point.svg);
                        position: absolute;
                        width: 10px;
                        height: 14px;
                        left: 0;
                        top: calc(50% - 5px);
                    }
                }
            }
        }
    }
}

// =======================Слайдер=============
.slider {
    min-width: 0;
    position: relative;
    margin-bottom: 145px;
    padding-bottom: 10px;
    padding-top: 10px;
    .slider_item {
        min-width: 0;
        text-align: center;
        margin: 30px 25px;
        &_card {
            width: 1110px;
            height: 450px;
            position: relative;
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
            overflow: hidden;
            &_info {
                text-align: start;
                display: block;
                height: 100%;
                width: 60%;
                position: absolute;
                left: 0;
                top: 0px;
                background: linear-gradient(
                    73deg,
                    #0c4187 51%,
                    rgba(12, 65, 135, 1) 60%,
                    rgba(12, 65, 135, 0.2) 80%,
                    transparent 80.02%,
                    transparent 100%
                );
                padding-left: 93px;
                padding-right: 139px;
                color: $color_text_bt;
                text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
                h2 {
                    font-size: 36px;
                    line-height: 49px;
                    padding-top: 137px;
                    margin-bottom: 0;
                }
                p {
                    padding-top: 20px;
                    padding-bottom: 40px;
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
                a {
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: 164px;
                    height: 45px;
                    &:hover {
                        text-decoration: none;
                        background-color: $color_bt_hov;
                    }
                    @extend %link_more;
                }
            }
            &_bg {
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
            &_effect {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: calc(50% - 35px);
        z-index: 10;
        font-size: 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
        width: 30px;
        height: 70px;
        background-position: center;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: calc(50% - 15px);
        transform: translateX(-510px);
        background-image: url(../img/left.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_left.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: calc(50% - 15px);
        transform: translateX(510px);
        background-image: url(../img/right.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_right.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        margin-bottom: 0;
        padding: 0;
    }
    .slick-dots li {
        list-style: none;
        line-height: 0;
        margin: 0px 7px;
    }
    .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .slick-dots li.slick-active button {
        background-color: #005de1;
        border: 1px solid #005de1;
    }
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    /* Для адаптива размера слайдов в JS */
    align-items: flex-start;
}
// =======================Каталог Меню=============
.catalog {
    margin-bottom: 132px;
    &_title {
        display: block;
        text-align: center;
        font-size: 34px;
        text-transform: uppercase;
        color: #113566;
    }
    .catalog_link {
        margin: 0 auto;
        display: block;
        box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
        width: 210px;
        height: 45px;
        &:hover {
            text-decoration: none;
            background-color: $color_bt_hov;
        }
        @extend %link_more;
    }
    .catalog_menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 25px;
        .catalog_menu_item_info {
            font-weight: bold;
            text-decoration: none;
            color: $color_text_bt;
            h2 {
                font-size: 40px;
            }
            p {
                font-size: 20px;
            }
        }
        &_item_01 {
            width: calc(100% / 3);
            height: 246px;
            background-image: url(../img/catalog_img/catalog_01.jpg);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
    }
}

// =======================Сервис=============
.service {
    background-color: $color_1;
    &_block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &_item {
            width: calc(100% / 2);
            padding-left: 390px;
            padding-right: 40px;
            &:last-child {
                padding: 0;
            }
            .service_banner {
                width: 100%;
                border-radius: 10px;
                box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
            }
            h2 {
                padding: 51px 0px 28px 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 54px;
                color: $color_h;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $color_text1;
                padding-bottom: 48px;
            }
            .service_link {
                display: inline-block;
                width: 164px;
                height: 45px;
                &:hover {
                    text-decoration: none;
                    background-color: $color_bt_hov;
                }
                @extend %link_more;
            }
        }
    }
}
// =======================О компании===================
.about {
    width: 100%;
    background-image: url(../img/About_img.jpg);
    background-repeat: no-repeat;
    &_block{
        &_item{
            display: flex;
            flex-wrap: nowrap;
            
        }
    }
}

// =======================Подвал===================
.footer_wrap {
    width: 100%;
    height: 128px;
    background-color: $color_footer;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer_block {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        &_item {
            span {
                padding-left: 96px;
                color: $color_text_footer;
                font-size: 16px;
            }
        }
    }
}
