$color_1: #ebf3f8;
$color_text_hed_nav: #122034;

$color_h: #113566;
$color_text1: rgba(18, 32, 52, 0.6);
$color_text2: #000000;
$color_text_cat: #ffffff;

$color_bt: #005ed5;
$color_bt_hov: #1076f9;
$color_text_bt: #ffffff;

$color_footer: #0c4187;
$color_text_footer: #ffffff;

%link_more {
    border: 1px solid $color_bt;
    border-radius: 50px;
    background-color: $color_bt;
    text-decoration: none;
    color: $color_text_bt;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 0;
}
* {
    &:focus {
        outline: none;
    }
}
// ===============Навигация (Верхняя часть)===============
.navigation {
    background-color: $color_1;
    &_row {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        .navigation_burger{
            display: none;
        }
        .burger_menu{
            display: none;
        }
        .nav li {
            font-size: 16px;
            margin-right: 30px;
            height: 50px;
            vertical-align: middle;
            border-bottom: 3px solid transparent;
        }
        .nav li a {
            padding: 0 10px;
            color: $color_text_hed_nav;
            text-decoration: none;
            height: 47px;
            line-height: 47px;
            vertical-align: middle;
            display: inline-block;
        }
        .nav li:not(.home_ico) a:hover {
            color: $color_text_hed_nav;
            text-decoration: none;
            transform: scale(1.1);
        }
        .nav li:not(.home_ico) :hover {
            border-bottom: 3px solid $color_bt;
        }
        .account {
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// ===============Навигация (Нижняя часть)===============
.header_contacts {
    padding: 55px 0 25px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    &_item {
        &_links {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            &_telgroup {
                .header_contacts_tel-list {
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 28px;
                    &:before {
                        content: "";
                        background-image: url(../img/header_phone.svg);
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        left: 0;
                        top: calc(50% - 9px);
                    }
                    li {
                        position: relative;
                        padding-right: 11px;
                        margin-left: 10px;
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            right: 0;
                            top: calc(50% - 8px);
                            width: 1px;
                            height: 16px;
                            background-color: $color_text2;
                        }
                    }
                }
                a {
                    display: inline-block;
                    font-size: 16px;
                    color: $color_text2;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                    span {
                        font-weight: bold;
                        font-size: large;
                    }
                }
            }
            &_mailgroup {
                margin-left: 30px;
                .header_contacts_mail-list {
                    margin-bottom: 0;
                    padding-left: 35px;
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    &:before {
                        content: "";
                        background-image: url(../img/header_mail.svg);
                        position: absolute;
                        width: 20px;
                        height: 16px;
                        left: 0;
                        top: calc(50% - 8px);
                    }
                    a {
                        font-size: 18px;
                        color: #122034;
                        display: block;
                        &:hover {
                            text-decoration: none;
                            opacity: 0.6;
                        }
                    }
                    .mobile_dropdown {
                        display: none;
                        padding-left: 0px;
                        position: relative;
                        label{
                            width: 100%;
                            position: relative;
                            margin-bottom: 0px;
                            span{
                                padding: 0 15px;
                                position: relative;
                                cursor: pointer;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: calc(50% - 5px);
                                    width: 10px;
                                    height: 14px;
                                    background-image: url(../img/map_point.svg);
                                }
                                &:after{
                                    content: "";
                                    position: absolute;
                                    right: 0;
                                    top: calc(50% - 5px);
                                    width: 10px;
                                    height: 14px;
                                    background-image: url(../img/map_point.svg);
                                }
                            }
                            input{
                                display: none;
                                &:checked{
                                    & ~ div{
                                        max-height: 100px;
                                    }
                                }
                            }
                            P{
                                margin-bottom: 10px;
                            }
                            div{
                                transition: all linear 0.4s;
                                max-height: 0px;
                                overflow: hidden;
                                position: absolute;
                                top: 100%;
                                left: 0;
                                background-color: #ffffff;
                                padding: 5px 10px;
                                
                            }

                        }
                       
                    }
                }
            }
        }
        &_adress {
            font-size: 13px;
            color: $color_text1;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            &-list {
                position: relative;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                flex-wrap: nowrap;
                margin-bottom: 0;
                padding-left: 0px;
                li {
                    margin-left: 20px;
                    padding-left: 24px;
                    position: relative;
                    display: block;
                    &:before {
                        content: "";
                        background-image: url(../img/map_point.svg);
                        position: absolute;
                        width: 10px;
                        height: 14px;
                        left: 0;
                        top: calc(50% - 5px);
                    }
                }
            }
        }
    }
    &_basket {
        position: relative;
        padding-left: 30px;
        align-self: flex-end;
        &::before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            width: 1px;
            height: 40px;
            background-color: rgba(18, 32, 52, 0.3);
        }
        &_companents {
            display: block;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                .counter {
                    background-color: #cf3a3a;
                }
                .ico {
                    opacity: 0.6;
                }
            }
            .counter {
                width: 26px;
                height: 24px;
                border-radius: 12px;
                line-height: 24px;
                background-color: #ff5a5a;
                margin-bottom: 15px;
                color: #ffffff;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
            }
            .ico {
                width: 25px;
                height: 25px;
            }
        }
    }
}

// =======================Слайдер=============
.slider {
    min-width: 0;
    position: relative;
    margin-bottom: 145px;
    padding-bottom: 10px;
    padding-top: 10px;
    .slider_item {
        min-width: 0;
        text-align: center;
        margin: 30px 25px;
        &.slick-active {
            .slider_item_card_effect {
                .cross {
                    &_1 {
                        transform: rotate(-77deg);
                        width: 15px;
                        height: 15px;
                        left: 4%;
                        bottom: 13%;
                    }
                    &_2 {
                        transform: rotate(-70deg);
                        width: 18px;
                        height: 18px;
                        left: 6%;
                        top: 12%;
                    }
                    &_3 {
                        transform: rotate(-105deg);
                        width: 30px;
                        height: 30px;
                        left: 28%;
                        bottom: 0px;
                    }
                    &_4 {
                        transform: rotate(-38deg);
                        width: 32px;
                        height: 32px;
                        left: 38%;
                        top: 48%;
                    }
                    &_5 {
                        transform: rotate(0deg);
                        width: 30px;
                        height: 30px;
                    }
                    &_6 {
                        transform: rotate(-38deg);
                        width: 20px;
                        height: 20px;
                        right: 1.5%;
                        bottom: 25%;
                    }
                }
                &_ring {
                    top: 27%;
                    right: 9%;
                    width: 506px;
                    height: 506px;
                }
            }
        }
        &_card {
            width: 1110px;
            height: 450px;
            position: relative;
            border-radius: 15px;
            box-shadow: 0px 0px 20px rgba(18, 32, 52, 0.6);
            overflow: hidden;
            &_info {
                text-align: start;
                display: block;
                height: 100%;
                width: 60%;
                position: absolute;
                left: 0;
                top: 0px;
                background: linear-gradient(
                    73deg,
                    #0c4187 51%,
                    rgba(12, 65, 135, 1) 60%,
                    rgba(12, 65, 135, 0.2) 80%,
                    transparent 80.02%,
                    transparent 100%
                );
                padding-left: 93px;
                padding-right: 270px;
                color: $color_text_bt;
                text-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
                h2 {
                    font-size: 36px;
                    line-height: 49px;
                    padding-top: 137px;
                    margin-bottom: 0;
                }
                p {
                    padding-top: 20px;
                    padding-bottom: 40px;
                    font-size: 22px;
                    line-height: 30px;
                    margin-bottom: 0;
                }
                a {
                    position: relative;
                    z-index: 1;
                    display: inline-block;
                    width: 164px;
                    height: 45px;
                    &:hover {
                        text-decoration: none;
                        background-color: $color_bt_hov;
                    }
                    @extend %link_more;
                }
            }
            &_bg {
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
            }
            &_effect {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
                .cross {
                    &_1 {
                        transform: rotate(0deg);
                        width: 15px;
                        height: 15px;
                        left: -15px;
                        bottom: -15px;
                    }
                    &_2 {
                        transform: rotate(0deg);
                        width: 18px;
                        height: 18px;
                        left: -18px;
                        top: -18px;
                    }
                    &_3 {
                        transform: rotate(0deg);
                        width: 30px;
                        height: 30px;
                        left: 50%;
                        bottom: -30px;
                    }
                    &_4 {
                        transform: rotate(0deg);
                        width: 32px;
                        height: 32px;
                        left: 50%;
                        top: -32px;
                    }
                    &_5 {
                        transform: rotate(0deg);
                        width: 0;
                        height: 0;
                        right: 30%;
                        bottom: 13.5%;
                    }
                    &_6 {
                        transform: rotate(0deg);
                        width: 20px;
                        height: 20px;
                        right: -20px;
                        bottom: -20px;
                    }
                }
                &_cross {
                    background: url(../img/cross_effect.svg) no-repeat center;
                    background-size: contain;
                    position: absolute;
                    transition: all linear 0.6s;
                }
                &_ring {
                    background: url(../img/ring_group.svg) no-repeat center;
                    background-size: contain;
                    position: absolute;
                    transition: all linear 0.6s;
                    top: calc(27% + 253px);
                    right: calc(9% + 253px);
                    transform: rotate(45deg);
                    width: 0;
                    height: 0;
                }
            }
        }
    }
    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: calc(50% - 35px);
        z-index: 10;
        font-size: 0;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
        width: 30px;
        height: 70px;
        background-position: center;
        cursor: pointer;
    }
    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: calc(50% - 15px);
        transform: translateX(-510px);
        background-image: url(../img/left.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_left.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: calc(50% - 15px);
        transform: translateX(510px);
        background-image: url(../img/right.svg);
        background-repeat: no-repeat;
        &:hover {
            background-image: url(../img/white_right.svg);
            background-color: #1076f9;
            background-repeat: no-repeat;
        }
    }
    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 100%);
        margin-bottom: 0;
        padding: 0;
    }
    .slick-dots li {
        list-style: none;
        line-height: 0;
        margin: 0px 7px;
    }
    .slick-dots button {
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #000000;
    }
    .slick-dots li.slick-active button {
        background-color: #005de1;
        border: 1px solid #005de1;
    }
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    /* Для адаптива размера слайдов в JS */
    align-items: flex-start;
}
// =======================Каталог Меню=============
.catalog {
    margin-bottom: 132px;
    .container {
        padding: 0px;
    }
    &_title {
        display: block;
        text-align: center;
        font-size: 34px;
        text-transform: uppercase;
        color: #113566;
    }
    .catalog_link {
        margin: 0 auto;
        display: block;
        box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
        width: 210px;
        height: 45px;
        &:hover {
            text-decoration: none;
            background-color: $color_bt_hov;
        }
        @extend %link_more;
    }
    .catalog_menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 35px;
        margin-bottom: 25px;
        &_item {
            position: relative;
            width: calc(100% / 3 - 30px);
            height: 246px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            border-radius: 10px;
            text-decoration: none;
            margin: 15px;
            overflow: hidden;
            background-size: cover !important;
            &:hover {
                .catalog_menu_item_effect {
                    opacity: 1;
                    .cross {
                        &_1 {
                            left: 3%;
                            bottom: 66%;
                            transform: rotate(402deg);
                        }
                        &_2 {
                            left: 51%;
                            bottom: 81%;
                            transform: rotate(398deg);
                        }
                        &_3 {
                            left: 80%;
                            bottom: 45%;
                            transform: rotate(415deg);
                        }
                        &_4 {
                            left: 90%;
                            bottom: 84%;
                            transform: rotate(615deg);
                        }
                    }
                }
            }
            &_info {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                font-weight: bold;
                color: $color_text_bt;
                padding-left: 40px;
                padding-right: 80px;
                padding-top: 105px;
                z-index: 1;
                h2 {
                    display: block;
                    position: relative;
                    font-size: 40px;
                    line-height: 54px;
                    margin-bottom: 7px;
                    padding-left: 18px;
                    &:before {
                        content: "";
                        position: absolute;
                        display: block;
                        left: -2px;
                        bottom: 0;
                        width: 8px;
                        height: 8px;
                        background-color: #ffffff;
                        transform: rotate(45deg);
                    }
                }
                p {
                    font-size: 20px;
                    line-height: 27px;
                    margin: 0px;
                }
            }
            &_effect {
                opacity: 0.4;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(13, 66, 136, 0.8);
                &_cross {
                    background: url(../img/cross_effect.svg) no-repeat center;
                    background-size: contain;
                    position: absolute;
                    transition: all linear 0.5s;
                }
                .cross {
                    &_1 {
                        transform: rotate(0deg);
                        width: 15px;
                        height: 15px;
                        left: -30px;
                        bottom: -30px;
                    }
                    &_2 {
                        transform: rotate(0deg);
                        width: 20px;
                        height: 20px;
                        left: -30px;
                        bottom: -30px;
                    }
                    &_3 {
                        transform: rotate(0deg);
                        width: 20px;
                        height: 20px;
                        left: -30px;
                        bottom: -30px;
                    }
                    &_4 {
                        transform: rotate(0deg);
                        width: 30px;
                        height: 30px;
                        left: -30px;
                        bottom: -30px;
                    }
                }
            }
        }
        .bg_01 {
            background: url(../img/catalog_img/catalog_01.jpg) no-repeat center;
        }
        .bg_02 {
            background: url(../img/catalog_img/catalog_02.jpg) no-repeat center;
        }
        .bg_03 {
            background: url(../img/catalog_img/catalog_03.jpg) no-repeat center;
        }
        .bg_04 {
            background: url(../img/catalog_img/catalog_04.jpg) no-repeat center;
        }
        .bg_05 {
            background: url(../img/catalog_img/catalog_05.jpg) no-repeat center;
        }
        .bg_06 {
            background: url(../img/catalog_img/catalog_06.jpg) no-repeat center;
        }
    }
}

// =======================Сервис=============
.service {
    background-color: $color_1;
    margin-bottom: 104px;
    &.active {
        .service_block_banner_effect_ring {
            top: 50px;
            left: 30px;
            width: 506px;
            height: 506px;
        }
    }
    &_block {
        height: 450px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        &_info {
            width: 55%;
            padding-right: 65px;
            flex-shrink: 0;

            h2 {
                padding: 51px 0px 28px 0px;
                font-style: normal;
                font-weight: normal;
                font-size: 40px;
                line-height: 54px;
                color: $color_h;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $color_text1;
                padding-bottom: 48px;
            }
            .service_link {
                display: inline-block;
                box-shadow: 0px 4px 5px rgba(18, 32, 52, 0.6);
                width: 164px;
                height: 45px;
                &:hover {
                    text-decoration: none;
                    background-color: $color_bt_hov;
                }
                @extend %link_more;
            }
        }
        &_banner {
            position: relative;
            flex-shrink: 0;
            &_img {
                width: 880px;
                box-shadow: 4px 4px 30px rgba(18, 32, 52, 0.6);
                border-radius: 15px;
                background: linear-gradient(270deg, #113566 0%, #0c4187 29.17%, #005ed5 71.87%);
            }
            &_effect {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                overflow: hidden;
                &_ring {
                    background: url(../img/ring_group.svg) no-repeat center;
                    background-size: contain;
                    position: absolute;
                    top: calc(50px + 253px);
                    left: calc(30px + 253px);
                    transform: rotate(45deg);
                    width: 0px;
                    height: 0px;
                    transition: all linear 0.4s;
                }
            }
        }
    }
}
// =======================Наши Партнеры=============
.partners {
    h2 {
        display: block;
        font-size: 34px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: $color_h;
        margin-bottom: 30px;
    }
    .partners_slider {
        position: relative;
        text-decoration: none;
        &_item {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 307px;
            margin: 35px 15px;
            &:hover {
                box-shadow: 0px 0px 15px rgba(18, 32, 52, 0.2);
                border-radius: 10px;
                text-decoration: none;
                .img {
                    -webkit-filter: none;
                    -moz-filter: none;
                    -ms-filter: none;
                    -o-filter: none;
                    filter: none;
                    filter: none;
                }
            }
            &_img_wrap {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                width: 212px;
                height: 208px;
                margin-bottom: 12px;
                .img {
                    -webkit-filter: grayscale(100%);
                    -moz-filter: grayscale(100%);
                    -ms-filter: grayscale(100%);
                    -o-filter: grayscale(100%);
                    filter: grayscale(100%);
                    filter: gray;
                    -webkit-transition: all 0.6s;
                    -moz-transition: all 0.6s;
                    -o-transition: all 0.6s;
                    transition: all 0.6s;
                }
                .img_01 {
                    width: 137px;
                    height: 140px;
                    background: url(../img/SP_img/kasp_w.jpg) no-repeat center;
                    background-size: contain;
                }
                .img_02 {
                    width: 184px;
                    height: 188px;
                    background: url(../img/SP_img/drweb_w.jpg) no-repeat center;
                    background-size: contain;
                }
                .img_03 {
                    width: 183px;
                    height: 110px;
                    background: url(../img/SP_img/taile_w.jpg) no-repeat center;
                    background-size: contain;
                }
                .img_04 {
                    width: 212px;
                    height: 133px;
                    background: url(../img/SP_img/win10_w.jpg) no-repeat center;
                    background-size: contain;
                }
            }
            h3 {
                display: block;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                color: $color_text1;
                text-decoration: none;
            }
        }
        .slick-track {
            margin-bottom: 20px;
        }
        .slick-list {
            position: relative;
        }
        .slick-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 100%);
            margin-bottom: 0;
            padding: 0;
        }
        .slick-dots li {
            list-style: none;
            line-height: 0;
            margin: 0px 7px;
        }
        .slick-dots button {
            font-size: 0;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            border: 1px solid #000000;
        }
        .slick-dots li.slick-active button {
            background-color: #005de1;
            border: 1px solid #005de1;
        }
    }
}

// =======================О компании===================
.about {
    margin-top: 110px;
    width: 100%;
    background-image: url(../img/About_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    &_block {
        padding-top: 80px;
        &_item {
            display: flex;
            flex-wrap: nowrap;
            margin-bottom: 70px;
            &_about {
                width: 45%;
                padding-right: 140px;
                h2 {
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 40px;
                    line-height: 54px;
                    color: #113566;
                    margin-bottom: 40px;
                }
                p {
                    display: block;
                    font-size: 18px;
                    color: #000000;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            &_advantages {
                width: 55%;
                h4 {
                    margin: 0px;
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 27px;
                    color: #122034;
                }
                .advantages_list {
                    list-style: none;
                    padding-right: 50px;
                    padding-left: 0;
                    margin-top: 22px;
                    margin-bottom: 100px;
                    li {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                        padding-bottom: 20px;
                        position: relative;
                        padding-left: 27px;
                        &:before {
                            content: "";
                            background-image: url(../img/about_vector.svg);
                            position: absolute;
                            width: 20px;
                            height: 16px;
                            left: 0;
                            top: 3px;
                        }
                        &:last-child {
                            padding-bottom: 0px;
                        }
                    }
                }
                a {
                    display: inline-block;
                    margin-right: 20px;
                    margin-top: 16px;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background-color: #015ed5;
                    position: relative;
                    &:hover {
                        opacity: 0.8;
                    }
                    .vk {
                        position: absolute;
                        top: calc(50% - 7px);
                        left: calc(50% - 5px);
                        background: url(../img/vk.svg);
                        width: 10px;
                        height: 14px;
                    }
                    .ok {
                        position: absolute;
                        top: calc(50% - 8px);
                        left: calc(50% - 5px);
                        background: url(../img/ok.svg);
                        width: 10px;
                        height: 16px;
                    }
                    .watsup {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: calc(50% - 10px);
                        background: url(../img/watsup.svg);
                        width: 20px;
                        height: 20px;
                    }
                    .viber {
                        position: absolute;
                        top: calc(50% - 10px);
                        left: calc(50% - 10px);
                        background: url(../img/viber.svg);
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            &_retail {
                width: 45%;
                padding-right: 200px;
                h3 {
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 33px;
                    color: #122034;
                    margin-bottom: 30px;
                }
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                    margin-bottom: 20px;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                }
                &_adress {
                    padding-left: 39px;
                    &:before {
                        content: "";
                        background-image: url(../img/map_point_about.svg);
                        position: absolute;
                        width: 14px;
                        height: 20px;
                        left: 0;
                        top: 3px;
                    }
                }
                &_tel {
                    padding-left: 41px;
                    &:before {
                        content: "";
                        background-image: url(../img/header_phone.svg);
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        left: 0;
                        top: 3px;
                    }
                    span {
                        font-weight: bold;
                        font-size: 22px;
                    }
                }
            }
            &_corporate {
                width: 55%;
                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    color: #000000;
                    margin-bottom: 20px;
                    &:hover {
                        text-decoration: none;
                        opacity: 0.6;
                    }
                }
                h3 {
                    display: block;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 33px;
                    color: #122034;
                    margin-bottom: 30px;
                }
                &_adress {
                    padding-left: 39px;
                    &:before {
                        content: "";
                        background-image: url(../img/map_point_about.svg);
                        position: absolute;
                        width: 14px;
                        height: 20px;
                        left: 0;
                        top: 3px;
                    }
                }
                &_tel-list {
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 28px;
                    margin-bottom: 0px;
                    span {
                        font-weight: bold;
                        font-size: 22px;
                    }
                    &:before {
                        content: "";
                        background-image: url(../img/header_phone.svg);
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        left: 0;
                        top: 3px;
                    }
                    li {
                        position: relative;
                        padding-right: 11px;
                        margin-left: 10px;
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            right: 0;
                            top: 4px;
                            width: 1px;
                            height: 20px;
                            background-color: $color_text2;
                        }
                    }
                }
                &_mail-list {
                    margin-bottom: 0px;
                    position: relative;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-left: 28px;
                    span {
                        font-weight: bold;
                        font-size: 22px;
                    }
                    &:before {
                        content: "";
                        background-image: url(../img/header_mail.svg);
                        position: absolute;
                        width: 20px;
                        height: 16px;
                        left: 0;
                        top: 5px;
                    }
                    li {
                        position: relative;
                        padding-right: 11px;
                        margin-left: 10px;
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            display: block;
                            right: 0;
                            top: 4px;
                            width: 1px;
                            height: 20px;
                            background-color: $color_text2;
                        }
                    }
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}
// =======================Карта===================
.opacity {
    position: absolute;
    width: 100%;
    height: 25%;
    background: linear-gradient(180deg, #ffffff 10%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
    left: 0;
    top: 0;
}
.main_map {
    position: relative;
    width: 100%;
    height: 424px;
    margin: 0;
    padding: 0;
}
// =======================Подвал===================
.footer_wrap {
    width: 100%;
    background-color: $color_footer;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer_block {
        height: 128px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        &_logo {
            margin-right: 94px;
        }
        .home {
            position: absolute;
            width: 60px;
            height: 60px;
            background: #0061e5;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.6);
            border-radius: 50px;
            bottom: calc(100% - 30px);
            left: calc(100% - 30px);
            &:hover {
                background: #1071f5;
            }
            .up_home {
                position: absolute;
                top: calc(50% - 12px);
                left: calc(50% - 10px);
                background: url(../img/up_home.svg);
                width: 20px;
                height: 24px;
            }
        }
        &_copyrigt {
            span {
                display: block;
                color: $color_text_footer;
                font-size: 16px;
                position: relative;
            }
        }
    }
}
